@font-face {
  font-family: Merriweather;
  src: url("../fonts/Merriweather/Merriweather-Regular.ttf");
  font-style: normal;
  font-weight: 400;
}

@font-face {
  font-family: Merriweather;
  src: url("../fonts/Merriweather/Merriweather-Bold.ttf");
  font-style: normal;
  font-weight: 700;
}

@font-face {
  font-family: Lato;
  src: url("../fonts/Lato/Lato-Regular.ttf");
}
