/* DESKTOP*/
/* @media only screen and (min-width: 1366px) { */
body {
  background-image: url("./jessy-smith-zFOm6KzA-7g-unsplash.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center bottom;
  background-color: #f3f1f2;
  display: flex;
}

.home-page,
.about-page,
.projects-page,
.contact-page {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: repeat(12, 1fr);
  height: 100vh;
  /* align-items: center;commented out */
  /* grid-auto-rows: minmax(100vh, auto); commented out*/
}

nav {
  grid-column: 1/8;
  grid-row: 1/2;
  position: fixed;
  top: 0;
  /* width: 100%;commented out */
}

ul {
  display: flex;
  flex-direction: row;
  /* flex-wrap: wrap; */
}

li {
  color: black;
  font-family: "Courier New", Courier, monospace;
  font-size: 30px;
  font-weight: bold;
  margin: 30px;
}

li:hover {
  color: rgba(89, 197, 7, 1);
}

#quote-of-the-day {
  grid-column: 7/13;
  grid-row: 1/2;
  justify-self: end;
}

.quote-li {
  font-size: 16px;
}

.name {
  font-family: "Courier New", Courier, monospace;
  font-size: 45px;
  font-weight: bold;
  color: rgba(255, 255, 255, 1);
  /* justify-self: center; */
  /* align-items: center; */
  grid-column: 5/9;
  grid-row: 6/7;
}

.bio {
  font-family: "Courier New", Courier, monospace;
  font-size: 17px;
  color: rgba(255, 255, 255, 1);
  grid-column: 5/8;
  grid-row: 5/10;
}

.pic-of-me {
  grid-column: 8/10;
  grid-row: 5/10;
  width: 75%;
}

.to-do-list {
  grid-column: 4/6;
  grid-row: 5/8;
  /* font: bold 18px 'Courier New', Courier, monospace; */
  /* display: flex; */
  /* justify-content: center; */
  /* align-items: flex-start; */
}

.to-do-pic {
  grid-column: 4/6;
  grid-row: 5/8;
  margin-left: 95px;
  /* margin-bottom: 90px; */
}

.to-do-list, .emoji-story {
  position: relative;
  /* width: 50%; */
}

/* .emoji-pic { */
  /* display: block; */
  /* width: 100%;
  height: auto; */
/* } */

.overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 130%;
  width: 100%;
  opacity: 0;
  transition: .5s ease;
  background-color: black;
}

.to-do-list:hover .overlay {
  opacity: 1;
}

 .emoji-story:hover .overlay {
  opacity: 1;
}

.to-do-sum {
  grid-column: 4/6;
  grid-row: 8/11;
  color: white;
  font: 16px "Courier New", Courier, monospace;
  position: absolute;
  top: 50%;
  left: 45%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  text-align: left;
}

.emoji-sum {
  color: white;
  font: 16px "Courier New", Courier, monospace;
  position: absolute;
  top: 40%;
  left: 55%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  text-align: right;
}

.emoji-story {
  /* grid-column: 8/10;
  grid-row: 10/11;
  font: bold 18px 'Courier New', Courier, monospace;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start; */
  grid-column: 7/9;
  grid-row: 5/8;
  width: 105%;
  height: 125%;
  /* margin-left: 0px; */
  margin-bottom: 60px;
  align-items: flex-start;
}

.emoji-pic {
  grid-column: 7/9;
  grid-row: 5/8;
  width: 105%;
  height: 112%;
  margin-left: 10px;
  align-items: flex-start;
  display: block;
}

/* .emoji-sum {
  grid-column: 7/9;
  grid-row: 8/11;
  font: 16px "Courier New", Courier, monospace;
} */

.contact-me {
  font-family: "Courier New", Courier, monospace;
  font-size: 21px;
  text-align: left;
  color: rgba(255, 255, 255, 1);
  grid-column: 5/9;
  grid-row: 4/8;
  justify-items: center;
  align-self: end;
}

.lets-connect {
  font-family: "Courier New", Courier, monospace;
  font-size: 32px;
  font-weight: bold;
  color: rgba(89, 197, 7, 1);
  text-align: center;
  grid-column: 5/9;
  grid-row: 9/10;
}

.lets-connect:hover {
  color: white;
}

.devicon-linkedin-plain-wordmark {
  font-size: 60px;
}

.devicon-github-original-wordmark {
  font-size: 40px;
}

.icons {
  grid-column: 5/9;
  grid-row: 10/11;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

i:hover {
  color: rgba(89, 197, 7, 1);
}
/* } */

.copyright {
  font-family: "Courier New", Courier, monospace;
  font-size: 12px;
  font-weight: bold;
  grid-column: 9/13;
  grid-row: 12/13;
  align-self: center;
}