/* HOME PAGE */
body {
  background-image: url("./jessy-smith-zFOm6KzA-7g-unsplash.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-color: #f3f1f2;
  font-family: "Courier New", Courier, monospace;
}

.home-page,
.projects-page,
.contact-page {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: repeat(12, 1fr);
  height: 100vh;
}

nav {
  grid-column: 1/8;
  grid-row: 1/2;
  position: fixed;
  top: 0;
}

ul {
  display: flex;
  flex-direction: row;
}

li {
  color: black;
  font-size: 30px;
  font-weight: bold;
  margin: 30px;
}

li:hover {
  color: rgba(89, 197, 7, 1);
}

#quote-of-the-day {
  grid-column: 7/13;
  grid-row: 1/2;
  justify-self: end;
}

/* Otherwise font will be 30px like other <li> */
.quote-li {
  font-size: 21px;
}

.name,
.bio,
.contact-me {
  color: rgba(255, 255, 255, 1);
}

.name {
  font-size: 36px;
  font-weight: bold;
  grid-column: 5/9;
  grid-row: 7/10;
  margin-left: 5vw;
  margin-top: 2vw;
}

.name:hover {
  color: rgba(89, 197, 7, 1);
}

/* ABOUT */
.profile {
  font-size: 18px;
  margin: auto;
  width: 40vw;
  margin-top: 24vw;
}

.pic-of-me {
  width: 45%;
  float: right;
}

/* PROJECTS PAGE */
.to-do-list {
  grid-column: 4/6;
  grid-row: 5/8;
  margin-top: 5vw;
}

.to-do-pic {
  grid-column: 4/6;
  grid-row: 5/8;
  margin-left: 95px;
}

.to-do-list,
.emoji-story {
  position: relative;
}

.to-do-overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 155%;
  width: 100%;
  opacity: 0;
  transition: 0.5s ease;
  background-color: black;
}

.emoji-overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 93%;
  width: 100%;
  opacity: 0;
  transition: 0.5s ease;
  background-color: black;
}

.to-do-list:hover .to-do-overlay {
  opacity: 1;
}

.emoji-story:hover .emoji-overlay {
  opacity: 1;
}

.to-do-sum {
  grid-column: 4/6;
  grid-row: 8/11;
  color: white;
  font: 16px "Courier New", Courier, monospace;
  position: absolute;
  top: 50%;
  left: 45%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  text-align: left;
}

.emoji-story {
  grid-column: 7/9;
  grid-row: 5/8;
  width: 105%;
  height: 125%;
  margin-bottom: 60px;
  align-items: flex-start;
  margin-top: 3vw;
}

.emoji-pic {
  grid-column: 7/9;
  grid-row: 5/8;
  width: 105%;
  height: 112%;
  margin-left: 10px;
  align-items: flex-start;
  display: block;
}

.emoji-sum {
  color: white;
  font: 16px "Courier New", Courier, monospace;
  position: absolute;
  top: 40%;
  left: 55%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  text-align: right;
}

/* CONTACT PAGE */
.contact-me {
  font-size: 21px;
  text-align: left;
  grid-column: 5/9;
  grid-row: 5/9;
  justify-items: center;
  align-self: end;
}

.lets-connect {
  font-size: 32px;
  font-weight: bold;
  color: rgba(89, 197, 7, 1);
  text-align: center;
  grid-column: 5/9;
  grid-row: 10/11;
}

.lets-connect:hover {
  color: white;
}

.devicon-linkedin-plain-wordmark {
  font-size: 60px;
}

.devicon-github-original-wordmark {
  font-size: 40px;
}

.icons {
  grid-column: 5/9;
  grid-row: 11/12;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 5vh;
}

i:hover {
  color: rgba(89, 197, 7, 1);
}

.copyright {
  font-size: 12px;
  font-weight: bold;
  grid-column: 9/13;
  grid-row: 12/13;
  align-self: center;
}

/* RESPONSIVENESS/MEDIA QUERIES */
@media screen and (max-width: 1439px) {
  .to-do-list {
    grid-row: 6/10;
  }

  .to-do-overlay {
    height: 100%;
  }

  .to-do-sum {
    top: 48%;
    left: 35%;
    text-align: left;
  }

  .emoji-story {
    grid-row: 6/9;
    margin-top: 4vw;
  }

  .emoji-overlay {
    height: 65%;
  }

  .emoji-sum {
    top: 30%;
    left: 35%;
    text-align: left;
  }

  .contact-me {
    grid-row: 7/11;
  }

  .lets-connect {
    grid-row: 12/13;
  }

  .icons {
    grid-row: 13/14;
    padding-bottom: 5vh;
  }

  .devicon-linkedin-plain-wordmark {
    font-size: 54px;
  }

  .devicon-github-original-wordmark {
    font-size: 27px;
  }

  .copyright {
    grid-column: 10/14;
    grid-row: 13/14;
  }
}

@media screen and (max-width: 1360px) {
  .lets-connect {
    grid-row: 11/12;
    font-size: 30px;
  }
}

@media screen and (min-width: 1290px) {
  li {
    font-size: 28px;
  }
}

@media screen and (max-width: 1289px) {
  body {
    background-image: none;
  }

  li {
    font-size: 25px;
  }

  .name {
    color: black;
    grid-row: 4/7;
  }

  .bio {
    color: black;
  }

  .profile {
    width: 50vw;
  }

  .to-do-overlay {
    height: 120%;
  }

  .emoji-overlay {
    height: 100%;
  }

  .emoji-sum {
    top: 50%;
  }

  .contact-me {
    color: black;
    grid-row: 3/7;
  }

  .lets-connect {
    grid-row: 8/12;
  }

  .icons {
    grid-row: 8/9;
  }

  .copyright {
    grid-column: 5/9;
    grid-row: 9/10;
  }
}

@media screen and (max-width: 1125px) {
  .quote-li {
    margin-top: 15vw;
    font-size: 25px;
  }

  .to-do-overlay {
    height: 160%;
  }

  .emoji-overlay {
    height: 135%;
  }

  .contact-me {
    font-size: 18px;
  }

  .lets-connect {
    font-size: 25px;
  }

  .devicon-linkedin-plain-wordmark {
    font-size: 54px;
  }

  .devicon-github-original-wordmark {
    font-size: 30px;
  }
}

@media screen and (max-width: 1030px) {
  .to-do-list {
    grid-column: 6/9;
    grid-row: 2/6;
    width: 74%;
  }

  .to-do-overlay {
    width: 150%;
    height: 110%;
  }

  to-do-sum {
    top: 45%;
    left: 45%;
  }

  .to-do-overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 155%;
    width: 100%;
    opacity: 0;
    transition: 0.5s ease;
    background-color: black;
  }

  .emoji-story {
    grid-row: 6/9;
  }

  .emoji-overlay {
    width: 145%;
    height: 130%;
  }

  .emoji-sum {
    top: 50%;
    left: 45%;
    text-align: left;
  }

  .icons {
    grid-column: 4/10;
  }
}

@media screen and (max-width: 820px) {
  .contact-me {
    font-size: 16px;
  }

  .lets-connect {
    font-size: 21px;
  }

  .devicon-linkedin-plain-wordmark {
    font-size: 45px;
  }

  .devicon-github-original-wordmark {
    font-size: 21px;
  }
}

@media screen and (max-width: 720px) {
  li {
    font-size: 21px;
  }

  .contact-me {
    font-size: 16px;
    grid-column: 4/10;
  }
}

@media screen and (max-width: 590px) {
  .name {
    font-size: 21px;
  }

  li {
    font-size: 18px;
  }

  .quote-li {
    font-size: 18px;
  }

  .to-do-list {
    grid-column: 5/8;
  }

  .to-do-overlay {
    width: 320%;
    height: 90%;
  }

  .to-do-sum {
    top: 45%;
    left: 35%;
    text-align: left;
  }

  .emoji-story {
    grid-row: 5/8;
  }

  .emoji-overlay {
    width: 275%;
    height: 120%;
  }

  .emoji-sum {
    top: 48%;
    left: 35%;
    text-align: left;
  }
}
