/* HOME PAGE */
body {
  background-image: url("./jessy-smith-zFOm6KzA-7g-unsplash.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  /* background-position: center bottom; */
  background-color: #f3f1f2;
  /* display: flex; */
  font-family: "Courier New", Courier, monospace;
}

.home-page,
/* .about-page, */
.projects-page,
.contact-page {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: repeat(12, 1fr);
  height: 100vh;
}

nav {
  grid-column: 1/8;
  grid-row: 1/2;
  position: fixed;
  top: 0;
}

ul {
  display: flex;
  flex-direction: row;
}

li {
  color: black;
  font-size: 30px;
  font-weight: bold;
  margin: 30px;
}

li:hover {
  color: rgba(89, 197, 7, 1);
}

#quote-of-the-day {
  grid-column: 7/13;
  grid-row: 1/2;
  justify-self: end;
}

/* Otherwise font will be 30px like other <li> */
.quote-li {
  font-size: 21px;
}

.name,
.bio,
.contact-me {
  color: rgba(255, 255, 255, 1);
  /* color: orangered */
}

.name {
  font-size: 36px;
  font-weight: bold;
  grid-column: 5/9;
  grid-row: 7/10;
  margin-left: 5vw;
  margin-top: 2vw;
}

.name:hover {
  color: rgba(89, 197, 7, 1);
}

/* @media screen and (max-width: 1439px) { */
/* body {
    background-image: none;
  } */

/* .name:hover {
    color: rgba(89, 197, 7, 1);
  } */
/* } */

/* .name-mobile,
.name-mobile-two,
.name-mobile-three {
  display: none;
} */

/* ABOUT */

/* @media screen and (min-width: 1310px) {
  .bio {
    font-size: 17px;
    grid-column: 4/7;
    grid-row: 4/10;
    margin-top: 13%;
    margin-left: 25%;
  }

  .pic-of-me {
    grid-column: 7/10;
    grid-row: 5/10;
    width: 65%;
    margin-left: 10%;
    border-radius: 5%;
  }
} */

/* @media screen and (min-width: 966px) {
  li {
    font-size: 21px;
  }

  .profile {
    font-size: 16px;
    height: 50vh;
    margin-top: 30vh;
  }

  .pic-of-me {
    width: 20%;
    float: right;
    padding-left: 60px;
    padding-right: 60px;
    border-radius: 50%;
  }

  .bio {
    color: rgba(255, 255, 255, 1);
    font-size: 17px;
    margin-left: 33%;
    margin-right: 33%;
    padding: 10px;
  }
} */



/* PROJECTS PAGE */
.to-do-list {
  grid-column: 4/6;
  grid-row: 5/8;
}

.to-do-pic {
  grid-column: 4/6;
  grid-row: 5/8;
  margin-left: 95px;
  /* display: none; */
}

.to-do-list,
.emoji-story {
  position: relative;
}

.overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 130%;
  width: 100%;
  opacity: 0;
  transition: 0.5s ease;
  background-color: black;
}

.to-do-list:hover .overlay {
  opacity: 1;
}

.emoji-story:hover .overlay {
  opacity: 1;
}

.to-do-sum {
  grid-column: 4/6;
  grid-row: 8/11;
  color: white;
  font: 16px "Courier New", Courier, monospace;
  position: absolute;
  top: 50%;
  left: 45%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  text-align: left;
}

.emoji-pic {
  grid-column: 7/9;
  grid-row: 5/8;
  width: 105%;
  height: 112%;
  margin-left: 10px;
  align-items: flex-start;
  display: block;
}

.emoji-sum {
  color: white;
  font: 16px "Courier New", Courier, monospace;
  position: absolute;
  top: 40%;
  left: 55%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  text-align: right;
}

.emoji-story {
  grid-column: 7/9;
  grid-row: 5/8;
  width: 105%;
  height: 125%;
  margin-bottom: 60px;
  align-items: flex-start;
}

.mobile-to-do-github,
.mobile-emoji-github {
  display: none;
}

/* CONTACT PAGE */
.contact-me {
  font-size: 21px;
  text-align: left;
  grid-column: 5/9;
  grid-row: 4/8;
  justify-items: center;
  align-self: end;
}

.mobile-contact-me-one,
.mobile-contact-me-two {
  display: none;
}

.lets-connect {
  font-size: 32px;
  font-weight: bold;
  color: rgba(89, 197, 7, 1);
  text-align: center;
  grid-column: 5/9;
  grid-row: 9/10;
}

.lets-connect:hover {
  color: white;
}

.devicon-linkedin-plain-wordmark {
  font-size: 60px;
}

.devicon-github-original-wordmark {
  font-size: 40px;
}

.icons {
  grid-column: 5/9;
  grid-row: 10/11;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

i:hover {
  color: rgba(89, 197, 7, 1);
}

.copyright {
  font-size: 12px;
  font-weight: bold;
  grid-column: 9/13;
  grid-row: 12/13;
  align-self: center;
}

/* RESPONSIVENESS/MEDIA QUERIES */
@media screen and (min-width: 1290px) {
  li {
    font-size: 28px;
  }

  .profile {
    font-size: 18px;
    margin: auto;
    width: 40vw;
    margin-top: 24vw;
  }

  .pic-of-me {
    width: 45%;
    float: right;
  }
}

@media screen and (max-width: 1289px) {
  body {
    background-image: none;
  }

  .name {
    color: black;
  }

  .bio {
    color: black;
  }

  .profile {
    font-size: 18px;
    margin: auto;
    width: 50vw;
    margin-top: 24vw;
  }

  .pic-of-me {
    width: 45%;
    float: right;
  }
}

@media screen and (max-width: 1289px) {
  li {
    font-size: 25px;
  }
}

@media screen and (max-width: 1125px) {
  .quote-li {
    margin-top: 15vw;
    font-size: 25px;
  }
}

@media screen and (max-width: 590px) {
  li {
    font-size: 18px;
  }

  .quote-li {
    font-size: 18px;
  }
}
