/* nav bar */

/* .container {
} */

.nav-bar {
  display: flex;
  justify-content: space-between;
  padding: 40px;
}
.nav-link {
  height: 40px;
  border-bottom: 2px;
  transition: border-bottom 0.6s;
}
.nav-link a {
  color: #ffd972;
  text-decoration: none;
  transition: color 0.6s;
}
.nav-link:hover {
  border-bottom: 2px solid #e88d67;
}
.nav-link a:hover {
  color: #e88d67;
}
.nav-bar > .left-side > div {
  display: flex;
  font-size: 1em;
  margin-right: 40px;
}
.left-side {
  display: flex;
}

/* Initials logo */
.right-side {
  display: flex;
  color: #e88d67;
}
/* :root {
    --avatar-size: 4rem;
} 
.intial-logo {
  background-color: #D5A021;
  border-radius: 10%;
  height: var(--avatar-size);
  text-align: right;
  width: var(--avatar-size);
}
.initials {
    font-size: calc(var(--avatar-size) / 2);
    line-height: 1;
    position: relative;
    top: auto;
    top: calc(var(--avatar-size) / 4);
} */

/* body */
body {
  /* height: ; */
  margin: 0px;
  background-color: #000000;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='100%25' height='100%25' viewBox='0 0 1600 800'%3E%3Cg %3E%3Cpolygon fill='%23220000' points='1600 160 0 460 0 350 1600 50'/%3E%3Cpolygon fill='%23440000' points='1600 260 0 560 0 450 1600 150'/%3E%3Cpolygon fill='%23660000' points='1600 360 0 660 0 550 1600 250'/%3E%3Cpolygon fill='%23880000' points='1600 460 0 760 0 650 1600 350'/%3E%3Cpolygon fill='%23A00' points='1600 800 0 800 0 750 1600 450'/%3E%3C/g%3E%3C/svg%3E");
  background-attachment: fixed;
  background-size: cover;
}
.animation {
    display: grid;
    justify-content: center;
    align-items: center;
}
