body {
  font-family: Ubuntu, Roboto, sans-serif;
  display: flexbox;
  background-color: black;
}

#intro {
  justify-content: space-evenly;
  z-index: -1;
  display: grid;
  grid-template-columns: 50% 50%;
  grid-template-rows: 80px 400px;
  margin-left: 5%;
  margin-right: 5%;
}

#name-div {
  font-size: 150px;
  /* border: 3px solid black; */
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 2;
  grid-row-end: 3;
}

#img-div {
  /* border: 3px solid black; */
  grid-column-start: 2;
  grid-column-end: 3;
  grid-row-start: 2;
  grid-row-end: 3;
}

#firstname {
  text-align: left;
  color: white;
}

#lastname {
  padding-top: 95px;
  text-align: right;
  color: white;
}

p,
label,
footer {
  margin: 5%;
  text-align: center;
  font-size: 16px;
  color: white;
}

button {
    font-family: Ubuntu, Roboto, sans-serif;
    display: flex;
    color: yellow;
    background-color: red;
    font-size: 24px;
    border: 3px solid blue;
    justify-content: space-evenly;
    margin: auto;
  }
  
  #button {
    grid-column: 1 / span 2;
    padding: 15px;
  }

#projects-div {
  display: grid;
  grid-template-columns: 50% 50%;
  grid-template-rows: 400px;
}

#projects-div > #snowman {
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 1;
  grid-row-end: 2;
  margin: auto;
}

#projects-div > #snowman-text {
  grid-column-start: 2;
  grid-column-end: 3;
  grid-row-start: 1;
  grid-row-end: 2;
  margin: auto;
  line-height: 2;
}

#projects-div > #textAdventure {
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 1;
  grid-row-end: 2;
  margin: auto;
}

#projects-div > #textAdventure-text {
  grid-column-start: 2;
  grid-column-end: 3;
  grid-row-start: 1;
  grid-row-end: 2;
  margin: auto;
  line-height: 2;
}

#projects-div > #mondrianReplica {
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 1;
  grid-row-end: 2;
  margin: auto;
}

#projects-div > #mondrianReplica-text {
  grid-column-start: 2;
  grid-column-end: 3;
  grid-row-start: 1;
  grid-row-end: 2;
  margin: auto;
  line-height: 2;
}

#about-div > p {
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 1;
  grid-row-end: 2;
}

#about-div > #Icons {
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 2;
  grid-row-end: 3;
}

#picture {
  height: 400px;
  float: right;
}

.subheader {
  display: flexbox;
  border: 3px solid white;
  font-size: 25px;
  animation-duration: 3s;
  animation-name: shake-horizontal;
  animation-iteration-count: infinite;
  z-index: -1;
}

#Icons {
  display: flex;
  justify-content: space-evenly;
  background-color: black;
}

#JavaScript,
#CSS3,
#GitHub,
#HTML5,
#LinkedIn {
  margin: 5%;
  height: 200px;
  background-color: white;
}

#about-div {
  display: grid;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  /* border: 5px solid red; */
}

form {
  margin: 5%;
  font-size: 16;
  text-align: center;
}

::placeholder {
  font-family: Ubuntu, Roboto, sans-serif;
}

.skills,
.projects,
.contact,
.about {
  color: white;
  margin: 5%;
  display: flex;
  top: 50px;
  background-color: black;
}

#snowman {
  height: 300px;
}

#textAdventure {
  height: 300px;
}

#mondrianReplica {
  height: 300px;
}

.flex-item {
  margin: auto;
}

.flex-item > a {
  margin: auto;
  color: white;
}
.flex-item > a:first-child {
  display: none;
}
.flex-item:hover > a:first-child {
  display: inline;
}
.flex-item:hover > a {
  display: none;
}
.menu {
  display: flex;
  position: sticky;
  top: 0;
  margin: auto;
  border: 3px solid white;
  justify-content: space-evenly;
  font-size: 20px;
  height: 60px;
  width: 75%;
  background-color: black;
  z-index: 3;
}

footer {
  font-size: 20px;
  margin: 10%;
  text-align: center;
}

#art-ul {
  display: flex;
  flex-direction: column;
  align-items: center;
}

@keyframes shake-horizontal {
  0%,
  20%,
  40%,
  60%,
  80%,
  100% {
    transform: translate3d(7px, 0, 0);
  }
  10%,
  30%,
  50%,
  70%,
  90% {
    transform: translate3d(-7px, 0, 0);
  }
}

@media only screen and (max-width: 1170px) {
  body {
    background-color: black;
  }

  #intro {
    justify-content: space-evenly;
    z-index: -1;
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 80px 400px 400px;
    margin-left: 5%;
    margin-right: 5%;
  }

  #img-div {
    /* border: 3px solid black; */
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 2;
    grid-row-end: 3;
    margin-left: auto;
    margin-right: auto;
  }

  #name-div {
    font-size: 125px;
    /* border: 3px solid black; */
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 3;
    grid-row-end: 4;
  }

  #Icons > a > img {
    height: 125px;
  }

  #projects-div {
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 400px 200px;
  }

  #projects-div > #snowman {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 1;
    grid-row-end: 2;
    margin: auto;
  }

  #projects-div > #snowman-text {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 2;
    grid-row-end: 3;
    margin: auto;
    line-height: 2;
  }

  #projects-div > #textAdventure {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 1;
    grid-row-end: 2;
    margin: auto;
  }

  #projects-div > #textAdventure-text {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 2;
    grid-row-end: 3;
    margin: auto;
    line-height: 2;
  }

  #projects-div > #mondrianReplica {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 1;
    grid-row-end: 2;
    margin: auto;
  }

  #projects-div > #mondrianReplica-text {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 2;
    grid-row-end: 3;
    margin: auto;
    line-height: 2;
  }

  body {
    justify-content: center;
  }
}

@media only screen and (max-width: 800px) {
  body {
    background-color: black;
  }

  #intro {
    justify-content: space-evenly;
    z-index: -1;
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 80px 400px 400px;
    margin-left: 5%;
    margin-right: 5%;
  }

  #img-div {
    /* border: 3px solid black; */
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 2;
    grid-row-end: 3;
    margin-left: auto;
    margin-right: auto;
  }

  #name-div {
    /* font-size: 200px; */
    /* border: 3px solid black; */
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 3;
    grid-row-end: 4;
  }

  #Icons > a > img {
    height: 100px;
  }

  #projects-div {
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 400px 200px;
  }

  #projects-div > #snowman {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 1;
    grid-row-end: 2;
    margin: auto;
  }

  #projects-div > #snowman-text {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 2;
    grid-row-end: 3;
    margin: auto;
    line-height: 2;
  }

  #projects-div > #textAdventure {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 1;
    grid-row-end: 2;
    margin: auto;
  }

  #projects-div > #textAdventure-text {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 2;
    grid-row-end: 3;
    margin: auto;
    line-height: 2;
  }

  #projects-div > #mondrianReplica {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 1;
    grid-row-end: 2;
    margin: auto;
  }

  #projects-div > #mondrianReplica-text {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 2;
    grid-row-end: 3;
    margin: auto;
    line-height: 2;
  }

  body {
    justify-content: center;
  }
}

@media only screen and (max-width: 550px) {
  body {
    background-color: black;
  }

  .menu {
    font-size: 13px;
  }

  #picture {
    height: 240px;
    width: 300px;
    float: right;
  }

  #name-div {
    font-size: 80px;
    /* border: 3px solid black; */
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 2;
    grid-row-end: 3;
  }

  #intro {
    justify-content: space-evenly;
    z-index: -1;
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 80px 400px 400px;
    margin-left: 5%;
    margin-right: 5%;
  }

  #img-div {
    /* border: 3px solid black; */
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 2;
    grid-row-end: 3;
    margin-left: auto;
    margin-right: auto;
  }

  #name-div {
    /* font-size: 200px; */
    /* border: 3px solid black; */
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 3;
    grid-row-end: 4;
  }

  #Icons > a > img {
    height: 100px;
  }

  #projects-div {
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 400px 200px;
  }

  #projects-div > #snowman {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 1;
    grid-row-end: 2;
    margin: auto;
  }

  #projects-div > #snowman-text {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 2;
    grid-row-end: 3;
    margin: auto;
    line-height: 2;
  }

  #projects-div > #textAdventure {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 1;
    grid-row-end: 2;
    margin: auto;
  }

  #projects-div > #textAdventure-text {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 2;
    grid-row-end: 3;
    margin: auto;
    line-height: 2;
  }

  #projects-div > #mondrianReplica {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 1;
    grid-row-end: 2;
    margin: auto;
  }

  #projects-div > #mondrianReplica-text {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 2;
    grid-row-end: 3;
    margin: auto;
    line-height: 2;
  }

  body {
    justify-content: center;
  }
}
