body {
    height: 100vh;
    width: 100vw;
    display: grid;
    grid-template-columns: 80px repeat(auto-fit, minmax(130px, 1fr)) 80px;
    grid-template-rows: 60px .75fr .5fr repeat(3, minmax(1fr, 400px)) .50fr 60px;
    gap: 3px;
    background-color: rgb(236, 236, 250);
}

/* .clicked-sections {
    display: grid;
    display: flex;
    width: 100vw;
    min-height: 100px;
    height: fit-content;
    display: grid;
    grid-template-columns: 80px repeat(auto-fit, minmax(130px, 1fr)) 80px;
    grid-template-rows: 60px .75fr .5fr repeat(3, 200px) .50fr 60px; 
    gap: 3px;
    background-color: lavender;
    box-sizing:border-box
} */

#nav-bar {
    display: none;
    /* border: 1px solid black;
    background-color: coral;
    grid-column: 2 / -2;
    grid-row: 2;
    justify-content: center;
    align-items: center;
    font-style: italic;
    font-weight: bold;
    font-size: 36px; */
}

section {
    display: grid;
    display: flex;
    justify-content: space-evenly;
    margin-left: 15px;
    margin-right: 15px;
}

#drop-down {
    /* display: none; */
    border: 1px solid black;
    background-color: palevioletred;
    grid-column: -3 / -1;
    height: fit-content;
    margin-right: 20%;
    padding-bottom: 10px;
}

#top-row {
    border: 1px solid black;
    border-bottom: 1.5px solid red;
    grid-column: 1 / -1;
    grid-row: 4;
    height: fit-content;
    padding-left: 20px;
    padding-right: 20px;
    min-width: 0;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}



#volcano, #louvre {
    height: 220px;
    min-width: 0;
    object-fit: contain;
    margin-bottom: 10px;
    margin-top: 10px;
}

#abtMe-link {
    margin-right: 40px;
}

#project-link {
    margin-right: 46px;
}


#aboutMe-section {
    /* width: 173px;
    height: 97px; */
    background-color: rgb(156, 23, 23);
    border: 1px solid black;
    grid-column: 1 / -1;
    grid-row: 4;
    padding-left: 20px;
    padding-right: 20px;
    min-width: 0;
}

#abtMe-header-box {
    grid-column: 1 / 3;
    gap: 3px;
}

#headshot-img-box {
    grid-column: 3 / 5;
    gap: 3px;
}

#headshot {
    height: 380px;
    min-width: 0;
    object-fit: contain;
}

#abtMe-text-box {
    grid-column: 5 / -1;
    gap: 3px;
}

#mid-row {
    border: 1px solid black;
    border-top: none;
    border-bottom: 1.5px solid red;
    grid-column: 1 / -1;
    grid-row: 5;
    min-width: 0;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

#name-display{
    margin-left: 50px;
    margin-right: 50px;
    justify-content: center;
    display: flex;
    flex-wrap: wrap;
    font-family: omnes-narrow, sans-serif;
    font-weight: 300;
    color: #220721;
    font-size: 42px;
    align-content: center;
}

#eng-title {
    display: flex;
    justify-content: center;
}

#abtMe-link, #project-link, #cntct-link {
  display: flex;
  justify-content: center;
  font-family: jubilat-thin, serif;
  /* text-shadow: 2px 2px 5px #8bbbae; */
  text-shadow: 1px 1px 2px #8bbbae, 0 0 25px #2d213f, 0 0 5px #8bbbae;
  font-weight: 500;
  font-style: bold;
  font-size: 26px;
  color: #220721;
}



#abt-mid-row {
    /* background-color: darkgreen; */
    border: 1px solid black;
    grid-column: 1 / -1;
    grid-row: 5;
    padding-left: 20px;
    padding-right: 20px;
    min-width: 0;
    height: 10px;
    /* border: 1px solid black; */
}

#btm-row {
    /* width: 173px;
    height: 97px; */
    /* background-color: goldenrod; */
    border: 1px solid black;
    grid-column: 1 / -1;
    grid-row: 6;
    padding-left: 20px;
    padding-right: 20px;
    min-width: 0;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

#contact-box {
    margin-left: 26px;
}

#mana-bowl, #canal {
    min-height: 0;
    width: 250px;
    /* object-fit: contain; */
    object-fit: contain;
    /* margin-bottom: 10px; */
    margin-top: 10px;
}

#seine, #gongbi, #embroidery-1 {
    height: 200px;
    min-width: 0;
    /* object-fit: contain; */
    object-fit: contain;
}

footer {
    background-color: indigo;
    border: 1px solid black;
    grid-column: 1 / -1;
    grid-row: 8;
    padding-left: 20px;
    padding-right: 20px;
    min-width: 0;
}

@media screen and (max-width: 580px) {
    body {
        height: 100vh;
        display: grid;
        grid-template-columns: 80px repeat(auto-fit, minmax(130px, 1fr)) 80px;
        grid-template-rows: 60px .75fr .5fr repeat(3, auto) .50fr 60px;
        gap: 3px;
        background-color: lavender;
    }

    #drop-down {
        display: none;
        /* border: 1px solid black;
        background-color: yellow;
        grid-column: -2 / -1;
        grid-row: 1;
        margin: 0%; */
    }
    
    #nav-bar {
        display: flex;
        border: 1px solid black;
        background-color: coral;
        grid-column: 2 / -2;
        grid-row: 2;
        justify-content: space-evenly;
        align-items: center;
        font-style: italic;
        font-weight: bold;
        font-size: 20px;
    }
   
    #nav-drop-down {
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        font-style: italic;
        font-weight: bold;
        font-size: 20px;
    } 

    #volcano, #louvre {
        height: 115px;
        min-width: 0;
        object-fit: contain;
        margin-bottom: 5px;
        margin-top: 5px;
    }

    #mana-bowl, #canal {
        min-height: 0;
        width: 137px;
        object-fit: contain;
        margin-top: 5px;
    }
}



@media screen and (max-width: 480px) {
    body {
        height: 100vh;
        display: grid;
        grid-template-columns: 80px repeat(auto-fit, minmax(130px, 1fr)) 80px;
        grid-template-rows: 60px .75fr .5fr repeat(3, auto) .50fr 60px;
        gap: 3px;
        background-color: lavender;
    }

    #nav-bar {
        display: flex;
        border: 1px solid black;
        background-color: coral;
        grid-column: 2 / -2;
        grid-row: 2;
        justify-content: space-evenly;
        align-items: center;
        font-style: italic;
        font-weight: bold;
        font-size: 20px;
    }
   
    #nav-drop-down {
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        font-style: italic;
        font-weight: bold;
        font-size: 20px;
    }

    #drop-down {
        display: none;
        /* border: 1px solid black;
        background-color: yellow;
        grid-column: -2 / -1;
        grid-row: 1;
        margin: 0%; */
    }

    #volcano, #louvre {
        height: 85px;
        min-width: 0;
        /* object-fit: contain; */
        object-fit: contain;
        margin-bottom: 5px;
        margin-top: 5px;
    }

    #mana-bowl, #canal {
        min-height: 0;
        width: 97px;
        /* object-fit: contain; */
        object-fit: contain;
        /* margin-bottom: 10px; */
        margin-top: 5px;
    }
}


