body{
    background: linear-gradient(-45deg, #ee7752, #540825, #23a6d5, #23d5ab);
    background-size: 400% 400%;
    animation: gradient 15s ease infinite;
    color: white;
}
body a
{
    background: linear-gradient(-45deg, #b2be6b, #021338, #b3d0db, #05352a);
    background-size: 400% 400%;
    animation: gradient 15s ease infinite;
    color: white;
}

@keyframes gradient {
    0% {
      background-position: 0% 50%;
    }
    50% {
      background-position: 100% 50%;
    }
    100% {
      background-position: 0% 50%;
    }
  }
  
  .homepage-div{
      display: grid;
      grid-template-columns: repeat(4, 1fr);
      grid-template-rows: repeat(3, 1fr);
      gap: 10px;
    }  
    
    h1{
        grid-column: 2/4;
        text-align: center;
        font-size: 40px;
    }
    p{
        font-size: 35px;
    
    }
     #nav1{
        grid-column: 2/3;
        grid-row: 2/3;
        background-color: black;
        text-decoration: none;
        display: flex;
        align-content: flex-end;
        justify-content: center;
        padding: 100px;
        font-size: 30px;
  
    }
  
    #nav2{
        grid-column: 3/4;
        grid-row: 2/3;
        background-color: black;
        display: flex;
        align-content: center;
        justify-content: center;
        text-decoration: none;
        padding: 100px;
        font-size: 30px;
    }
  
  #nav3{
      grid-column: 2/3;
      grid-row: 3/4;
      display: flex;
      align-content: center;
      justify-content: center;
      background-color: black;
      text-decoration: none;
      padding: 100px;
      font-size: 30px;
  }
  
  #nav4{
      grid-column:3/4;
      grid-row: 3/4;
      background-color:black;
      display: flex;
      align-content: center;
      justify-content: center;
      text-decoration: none;
      padding: 100px;
      font-size: 30px;
  }