body {
  background: linear-gradient(-45deg, #f5a17b, #3d74eb, #23a6d5, #23d5ab);
  background-size: 400% 400%;
  animation: gradient 15s ease infinite;
  color: white;
}
a {
  background: linear-gradient(-45deg, #06b6fc, #3863be, #b3d0db, #05352a);
  background-size: 400% 400%;
  animation: gradient 15s ease infinite;
  color: white;
  margin: 20px 20px 20px 20px;
}

@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

.homepage-div {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(3, 1fr);
  gap: 8px;
}

h1 {
  grid-column: 2/4;
  text-align: center;
  font-size: 40px;
}
p {
  font-size: 30px;
}
#nav1 {
  grid-column: 2/3;
  grid-row: 2/3;
  display: flex;
  text-decoration: none;
  text-align: center;
  justify-content: center;
  padding: 100px;
  font-size: 26px;
  margin-top: -30px;
}
#nav1:hover{
  color: black;
}

#nav2 {
  grid-column: 3/4;
  grid-row: 2/3;
  display: flex;
  text-align: center;
  text-decoration: none;
  padding: 100px;
  font-size: 26px;
  margin-top: -30px;
}
#nav2:hover{
  color: black;
}

#nav3 {
  grid-column: 2/3;
  grid-row: 3/4;
  text-align: center;
  text-decoration: none;
  padding: 100px;
  font-size: 26px;
  margin-top: -10px;
}

#nav3:hover{
  color: black;
}

#nav4 {
  grid-column: 3/4;
  grid-row: 3/4;
  text-align: center;
  text-decoration: none;
  padding: 100px;
  font-size: 26px;
  margin-top: -10px;
}

#nav4:hover{
  color: black;
}

@media only screen and (max-width: 700px) {
  body {
    background: linear-gradient(-45deg, #f5a17b, #3d74eb, #23a6d5, #23d5ab);
    background-size: 400% 400%;
    animation: gradient 15s ease infinite;
    color: white;
  }
  a {
  background: linear-gradient(-45deg, #06b6fc, #3863be, #b3d0db, #05352a);
  background-size: 400% 400%;
  animation: gradient 15s ease infinite;
  color: white;
  margin: 20px 20px 20px 20px;
  }
  @keyframes gradient {
    0% {
      background-position: 50% 50%;
    }
    50% {
      background-position: 0% 0%;
    }
    100% {
      background-position: 50% 50%;
    }
  }
  .homepage-div {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
    gap: 5px;
  }
}
