:root {
  --primary: #ffc636;
  --secondary: #0a0b5b;
  --myYellow: #ffc300;
  --myBlue: #003566;
  --myGrey: #c4c4c4;
}

/* grid layout*/

.grid {
  height: 100vh;
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: repeat(12, 1fr);
}

body {
  color: var(--myBlue);
  font-family: Georgia, "Times New Roman", Times, serif;
}

.btn {
  align-self: start;
  font-weight: bold;
  padding: 10px;
  border-radius: 25px;
  justify-self: center;
  color: var(--myBlue);
  background-color: var(--myYellow);
}

.rectangle,
.project-gif,
#portrait {
  border-radius: 5px;
}

/* home section */

/* home section animation */

/* add spacing between first and last name */
#letter6 {
  width: 10px;
}

/* set different animation times */
#letter0,
#letter7 {
  animation: roll 0.5s linear forwards;
}
#letter1,
#letter8 {
  animation: roll 1s linear forwards;
}
#letter2,
#letter9 {
  animation: roll 1.5s linear forwards;
}
#letter3,
#letter10 {
  animation: roll 2s linear forwards;
}
#letter4,
#letter11 {
  animation: roll 2.5s linear forwards;
}
#letter5,
#letter12 {
  animation: roll 3s linear forwards;
}

/* rolling movement */
@keyframes roll {
  from {
    transform: translateX(980px) rotateZ(0deg);
  }
  to {
    transform: translateX(0px) rotateZ(-360deg);
  }
}

/* media queries (mobile first layout) ////////////////////////////////////////////////////////*/

/* mobile layout */
@media screen and (min-width: 360px) {
  /* universal styling */
  nav {
    display: none;
  }

  .btn {
    font-size: 12px;
  }

  .btn:hover {
    color: white;
    background-color: var(--myBlue);
    transform: scale(1);
    box-shadow: 6px 6px 3px var(--myYellow);
    border: var(--myYellow) solid 1px;
  }

  p {
    font-size: 14px;
    text-align: center;
  }
  
  /* home section */
  #name {
    font-size: 28px;
    font-weight: bolder;
    display: flex;
    grid-column: 4/10;
    grid-row: 4;
    justify-content: center;
    align-self: end;
  }

  #home-rec-navy {
    grid-column: 4/10;
    grid-row: 5;
    font-size: 16px;
    justify-self: center;
    align-self: center;
    background-color: var(--myBlue);
    color: white;
    padding: 5px 15px;
    height: 40%;
  }

  #home-rec-grey {
    position: relative;
    height: 20%;
    background-color: var(--myGrey);
    grid-column: 3/11;
    grid-row: 5;
    z-index: -1;
  }

  #about-btn {
    grid-column: 5/9;
    grid-row: 6;
  }

  /* about section */
  #about-title {
    grid-column: 5/9;
    grid-row: 1;
    align-self: end;
    justify-self: center;
  }

  #portrait {
    grid-column: 3/11;
    grid-row: 2/6;
  }

  #about-summary {
    background-color: var(--myBlue);
    color: white;
    grid-column: 2/12;
    grid-row: 6/11;
    align-self: center;
    padding: 5%;
    margin-top: 10%;
  }

  #projects-btn {
    justify-self: center;
    grid-column: 5/9;
    grid-row: 10;
  }

  /* projects section */
  #tieIn-section,
  #aHealthyBite-section,
  #contact-btn {
    grid-column: 2/12;
  }

  #tieIn-section {
    grid-row: 4;
  }
  #aHealthyBite-section {
    grid-row: 8;
  }
  #contact-btn {
    grid-row: 10;
  }

  #tieIn-section,
  #aHealthyBite-section {
    display: flex;
    flex-direction: column;
  }

  .project-gif {
    width: 50%;
    align-self: center;
  }

  .project-summary {
    padding: 3%;
    background-color: var(--myBlue);
    color: white;
  }

  #contact-section {
    grid-column: 1/13;
    grid-row: 1/12;

    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: repeat(11, 1fr);
    align-items: start;
    justify-items: center;
  }

  #linkedin,
  #github,
  #email {
    grid-column: 5/9;
  }

  #contact-title {
    font-size: 32px;
    font-weight: bold;
    grid-column: 4/10;
    grid-row: 2;
  }

  #linkedin {
    grid-row: 4;
  }

  #github {
    grid-row: 6;
  }

  #email {
    grid-row: 8;
  }

  #contact-msg {
    grid-column: 4/10;
    grid-row: 10;
    font-size: 20px;
  }

  #linkedin,
  #github,
  #email {
    font-size: 48px;
  }

  .icon-links:hover {
    color: var(--myYellow);
    text-shadow: 6px 6px 3px var(--myBlue);
  }
  /* style footer */
  footer {
    grid-column: 1/13;
    grid-row: 12/13;
  }

  #footer-rec-grey {
    background-color: var(--myGrey);
    height: 3vh;
  }

  #footer-rec-navy {
    background-color: var(--myBlue);
    height: 1vh;
  }

  footer > ul {
    justify-content: space-between;
    align-items: center;
    background-color: var(--myYellow);
  }

  footer {
    text-align: center;
  }

  #footer-links {
    flex-direction: column;
    justify-content: center;
  }

  #back-to-top {
    order: -1;
    padding: 5px 0;
  }

  #back-to-top:hover {
    transform: scale(2);
  }

  #copyright {
    order: 1;
    padding-top: 2px;
  }

  #graditude {
    order: 0;
  }
}

@media screen and (min-width: 620px) {
  p {
    font-size: 18px;
  }

  .btn {
    font-size: 16px;
  }

  nav {
    display: block;
    grid-column: 1/5;
    grid-row: 1;
  }

  nav > ul {
    font-size: 24px;
  }

  #name {
    font-size: 48px;
  }

  /* About Me Section */
  #about-title {
    grid-column: 4/7;
    grid-row: 1;
    justify-self: center;
  }

  #portrait {
    width: 100%;
    grid-column: 2/9;
    grid-row: 2/7;
  }

  #about-summary {
    grid-column: 8/12;
    grid-row: 3/8;
    line-height: 26px;
    text-align: center;
    z-index: 2;
  }

  #about-rec-yellow {
    grid-column: 2/11;
    grid-row: 8/9;
    width: 105%;
    justify-self: center;
    background-color: var(--myYellow);
  }

  #about-summary:hover {
    transform: scale(1.1);
  }

  #projects-btn {
    justify-self: center;
    align-self: end;
    grid-column: 5/9;
    grid-row: 10;
  }

  /* Style Contact Section */
  #contact-title {
    grid-column: 6/8;
    grid-row: 3;
    justify-self: center;
    font-size: 32px;
    font-weight: bold;
  }

  #linkedin {
    grid-column: 8/10;
    grid-row: 5/7;
    place-self: center;
    font-size: 84px;
  }

  #github {
    grid-column: 4/6;
    grid-row: 5/7;
    place-self: center;
    font-size: 84px;
  }

  #email {
    grid-column: 6/8;
    grid-row: 5/7;
    place-self: center;
    font-size: 92px;
  }

  #contact-msg {
    grid-column: 5/9;
    grid-row: 9/10;
    justify-self: center;
    align-self: start;
    font-size: 20px;
  }

  /* Style Contact Section */
  #contact-section > nav {
    display: none;
  }
}

@media screen and (min-width: 670px) {
  /* About Me Section */

  #about-title {
    grid-column: 2/7;
    grid-row: 1;
    justify-self: center;
  }

  #portrait {
    width: 100%;
    grid-column: 2/7;
    grid-row: 2/7;
  }

  #about-summary {
    grid-column: 8/12;
    grid-row: 3/8;
    line-height: 26px;
    text-align: center;
    z-index: 2;
  }

  #about-rec-yellow {
    grid-column: 9/11;
    grid-row: 2/12;
    /* width: 105%; */
    justify-self: center;
    background-color: var(--myYellow);
  }

  #about-summary:hover {
    transform: scale(1.1);
  }
}

@media screen and (min-width: 1200px) {
  nav {
    justify-content: space-between;
  }

  nav > ul {
    font-size: 24px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  #name {
    font-size: 64px;
  }

  .btn {
    color: white;
    background-color: var(--myBlue);
  }

  .btn:hover {
    color: var(--myBlue);
    background-color: var(--myYellow);
    transform: scale(1);
    box-shadow: 6px 6px 3px var(--myBlue);
    border: var(--myBlue) solid 1px;
  }

  #home-rec-grey {
    width: 100%;
    height: 12vh;
    place-self: center;
    grid-row: 5/7;
    grid-column: 5/9;
  }

  #home-rec-yellow {
    background-color: var(--myYellow);
    width: 100%;
    height: 50%;
    grid-column: 4/8;
    grid-row: 6/8;
    align-self: center;
    z-index: 1;
  }

  #home-rec-navy {
    width: 65vh;
    height: 7vh;
    grid-column: 6/10;
    grid-row: 6;
    font-size: 24px;
    z-index: 2;
    padding: 15px;
  }

  #about-btn {
    justify-self: center;
    grid-column: 6/8;
    grid-row: 8;
    z-index: 2;
  }

  /* about section */
  #about-title {
    grid-column: 5/9;
    grid-row: 1;
    align-self: end;
    justify-self: center;
  }

  #portrait {
    grid-column: 3/11;
    grid-row: 2/6;
  }

  #about-summary {
    background-color: var(--myBlue);
    color: white;
    grid-column: 2/12;
    grid-row: 6/11;
    align-self: center;
    padding: 5%;
    margin-top: 10%;
  }

  /* About Me Section */
  #about-title {
    grid-column: 3/6;
    grid-row: 3/6;
    justify-self: center;
  }

  #portrait {
    grid-column: 3/6;
    grid-row: 4/6;
  }

  #about-summary {
    grid-column: 7/10;
    grid-row: 3/8;
    line-height: 26px;
    text-align: center;
    z-index: 2;
  }

  #about-rec-yellow {
    grid-column: 8/11;
    grid-row: 6/10;
  }

  #about-summary:hover {
    transform: scale(1.25);
  }

  /* Style Projects Setion */
  #tieIn-section {
    grid-column: 2/6;
    grid-row: 3/11;

    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(8, 1fr);
  }

  #aHealthyBite-section {
    grid-column: 8/12;
    grid-row: 3/11;

    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(8, 1fr);
  }

  #tieIn-header,
  #aHealthyBite-header {
    grid-column: 1/5;
    grid-row: 1;
    justify-self: center;
    font-size: 20px;
    font-weight: bold;
  }

  #tieIn-summary,
  #aHealthyBite--summary {
    grid-column: 1/5;
    grid-row: 7;
    justify-self: center;
  }

  #tieIn-gif,
  #aHealthyBite-gif {
    width: 100%;
    grid-column: 1/5;
    grid-row: 2/7;
  }

  h2:hover {
    transform: scale(1.25);
    text-shadow: 6px 6px 3px var(--myYellow);
  }

  #contact-btn {
    grid-column: 6/8;
    grid-row: 11;
  }
}
