.grid-container {
  display: grid;
  grid-auto-rows: 100vh;
  grid-template-columns: 70vh;
}

body {
  background-color: #0e1c25;
}

#navbar {
  display: flex;
  flex-direction: row;
  overflow: hidden;
  background-color: #13212a;
  margin: 0 auto;
  justify-content: center;
  width: 100%;
}



.navbar-a {
  color: #f2f2f2;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  text-align: center;
  padding: 14px;
  text-decoration: none;
  font-size: 20px;
}

.sticky {
  position: fixed;
  top: 0;
  width: 100%;
}

.sticky + .grid-container {
  padding-top: 60px;
}

#section-1 {
  display: flex;
  justify-content: space-evenly;
  align-content: center;
  background-color: rgb(248, 245, 230);
  top: 0;
  left: 0;
  flex-wrap: wrap;
  font-weight: bold;
}

#yashiry-azize {
  height: 50vh;
  width: 50vh;
}

#title {
  color: black;
  position: relative;
  top: 10%;
}

#section-2 {
  display: flex;
  background-color: #fc6722;
  justify-content: center;
  align-items: center;
}

#section-3 {
  background-color: rgb(248, 245, 230);
}
.info {
  position: relative;
  top: 5%;
  text-align: left;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 20px;
  padding: 10px 18px 10px;
  font-size: 15px;
  margin: 4mm;
}

#projects-title {
  font-size: 18px;
  font-weight: bold;
  text-align: center;
}

#section-5 {
  background-color: rgb(248, 245, 230);
  text-align: center;
  margin: 1mm;
  font-size: 15px;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  padding: 10px 18px 10px;
}
#text-adventure-game {
  height: 150px;
  
}

#snowman-game {
  height: 150px;
  
}

#section-4 {
  display: flex;
  background-color: rgb(245, 196, 63);
  justify-content: center;
  align-items: center;
}

#section-6 {
  display: flex;
  background-color: #fc6722;
  justify-content: center;
  align-items: center;
}

#lettering-skills {
  width: 120%;
  height: 70%;
  margin-left: 15%;
}

#filter-skills {
  position: static;
  top: 5%;
  left: 8%;
}

.skills-list {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(80px, 1fr));
  grid-auto-rows: minmax(80px, auto);
  grid-gap: 8%;
  margin: 4mm;
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  text-align: center;
  position: static;
  top: 10%;
}

#section-7 {
  background-color: rgb(248, 245, 230);
  padding: 4mm;
}

#section-8 {
  background-color: rgb(245, 196, 63);
}

#section-9 {
  background-color: rgb(248, 245, 230);
  font-size: 16px;
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  text-align: left;
  padding: 4mm;
}

#my-name {
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  text-align: left;
  font-weight: bold;
}

.mail-to {
  text-decoration: underline;
}

.links {
  position: relative;
  top: 8%;
  width: 80px;
  height: 80px;
}

@media only screen and (min-width: 768px) {
  .grid-container {
    display: grid;
    grid-gap: 4mm;
    grid-template: 100vh / auto auto;
  }
  #section-1 {
    grid-column: 1/-1;
    grid-row: 1;
  }
  #section-2 {
    grid-column: 1;
    grid-row: 2;
  }
  #section-3 {
    grid-column: 2;
    grid-row: -1;
  }
  #section-4 {
    grid-column: 2;
    grid-row: 3;
  }
  #lettering-skills {
    width: 120%;
    height: 70%;
    margin-left: 15%;
  }
  #about-lettering {
    width: 70%;
    height: 70%;
    margin-left: 15%;
  }
  #projects-lettering {
    width: 70%;
    height: 70%;
    margin-left: 15%;
  }
  .info {
    padding: 10px 18px 10px;
    font-size: 16px;
    margin: 30mm;
  }
  #text-adventure-game {
    position: relative;
    left: 20%;
    height: 200px;
    width: 400px;
  }

  #snowman-game {
    position: relative;
    left: 20%;
    height: 200px;
    width: 400px;
  }
  #title {
    position: relative;
    top: 60%;
    right: 39%;
  }
  #my-photo {
      position: relative;
      bottom: 30%;
      width: 500px;
      height: 450px;
      left: 20%;
  }
}
