body {
  background-image: url("./DSC_0248.jpeg");
  background-size: 100%;
  color: #212731;
  font-size: large;
}
#header-section {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: 1fr;
}
#about-section {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

section {
  margin: 20px;
  /* border: 2px solid red; */
  padding: 10px;
  background-color: #666A86;
}

div {
  /* border: 2px dotted blue; */
  padding: 10px;
}
section > h1 {
  justify-content: center;
}
section > img {
  justify-content: center;
  border-radius: 5%;
  width: 160px;
  height: 160px;
}
#contact-section{
  display: flex;
  justify-content: space-between;
}

#nav-bar-away {
  grid-column: 1 / 2;
  grid-row: 2 / 3;
}
section > h1 > a {
  text-decoration: none;
}
@media only screen and (max-width: 630px) {
  img {
    transform: scale(0.5);
  }
}
@media only screen and (max-width: 400px) {
  img {
    display: none;
  }
  #header-section {
    display: flex;
    align-items: center;
  }
}
