/* Follow font-size best practices ( described here )
20px - a good size to start for headlines
16px – smallest size for most text
14px – can be used for labels, but should not be used for sentences */
/* https://learnui.design/blog/mobile-desktop-website-font-size-guidelines.html */

/* body {
  overflow-x: hidden;
} */

/* variables */
/* :root {
  --primary: #ffc636;
  --secondary: #0a0b5b;
  --myYellow: #ffc300;
  --myBlue: #003566;
  --myGrey: #c4c4c4;
} */

/* universal styling */
/* body {
  color: var(--myBlue);
  font-family: Verdana, sans-serif;
} */

nav > ul {
  font-size: 24px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

h2 {
  /* not certain why h2 isn't automatically bold and why it is smaller than h3 */
  font-weight: bold;
}

/* .btn {
  align-self: start;
  font-weight: bold;
  padding: 10px;
  border-radius: 25px;
  justify-self: center;
  color: var(--myBlue);
  background-color: var(--myYellow);
} */

/* .btn:hover {
  color: var(--myYellow);
  background-color: var(--myBlue);
  transform: scale(1);
  box-shadow: 6px 6px 3px var(--myYellow);
} */

/* #back-to-top:hover {
  transform: scale(2);
} */

/* grid layout*/

.grid {
  height: 100vh;
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: repeat(12, 1fr);
}

/* home section */

/* home section animation */

/* add spacing between first and last name */
/* #letter6 {
  width: 10px;
} */

/* set different animation times */
/* #letter0,
#letter7 {
  animation: roll 0.5s linear forwards;
}
#letter1,
#letter8 {
  animation: roll 1s linear forwards;
}
#letter2,
#letter9 {
  animation: roll 1.5s linear forwards;
}
#letter3,
#letter10 {
  animation: roll 2s linear forwards;
}
#letter4,
#letter11 {
  animation: roll 2.5s linear forwards;
}
#letter5,
#letter12 {
  animation: roll 3s linear forwards;
} */

/* rolling movement */
/* @keyframes roll {
  from {
    transform: translateX(980px) rotateZ(0deg);
  }
  to {
    transform: translateX(0px) rotateZ(-360deg);
  }
} */

/* projects section */

/* contact section */
#contact-section {
  grid-column: 1/13;
  grid-row: 2/10;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  text-align: center;
}

.icon-links {
  font-size: 48px;
}

.icon-links:hover {
  color: var(--myYellow);
  text-shadow: 6px 6px 3px var(--myBlue);
}

/* footer section */

footer {
  grid-column: 1/13;
  grid-row: 10/13;
  align-self: end;

  display: flex;
  flex-direction: column;
}

#footer-rec-grey {
  background-color: var(--myGrey);
  height: 16px;
}
#footer-rec-navy {
  background-color: var(--myBlue);
  height: 7px;
}

#footer-links {
  padding: 2px 0 10px 0;
  display: flex;
  background-color: var(--myYellow);
  justify-content: space-between;
}

#back-to-top {
  order: -1;
  transform: scaleX(3);
}

#copyright {
  order: 1;
  font-size: 10px;
}

#graditude {
  font-size: 12px;
  order: 0;
}

/* media queries (mobile first layout) ////////////////////////////////////////////////////////*/

/* mobile layout */
/* @media screen and (min-width: 360px) {
  nav {
    display: none;
  } */
  /* universal styling */
  /* .btn {
    font-size: 12px;
    
  }

  p {
    font-size: 14px;
    text-align: center;
  }

  h3 {
    font-size: 14px;
  } */

  /* home section */
  /* #name {
    font-size: 28px;
    font-weight: bolder;
    display: flex;
    grid-column: 4/10;
    grid-row: 4;
    justify-content: center;
    align-self: end;
  }

  #home-rec-navy {
    grid-column: 4/10;
    grid-row: 5;
    font-size: 16px;
    justify-self: center;
    align-self: center;
    background-color: var(--myBlue);
    color: white;
    padding: 5px 15px;
    height: 40%;
  }

  #home-rec-grey {
    position: relative;
    height: 20%;
    background-color: var(--myGrey);
    grid-column: 3/11;
    grid-row: 5;
    z-index: -1;
  }

  #about-btn {
    grid-column: 5/9;
    grid-row: 6;
  }

  /* about section */
  #about-title {
    grid-column: 5/9;
    grid-row: 1;
    align-self: end;
    justify-self: center;
  }

  #portrait {
    grid-column: 3/11;
    grid-row: 2/6;
  }

  #about-summary {
    background-color: var(--myBlue);
    color: white;
    grid-column: 2/12;
    grid-row: 6/11;
    align-self: center;
    padding: 5%;
    margin-top: 10%;
  }

  #projects-btn {
    justify-self: center;
    grid-column: 5/9;
    grid-row: 11;
  } */

  /* projects section */

  #project-header,
  #snowman-section,
  #emoji-section,
  #contact-btn {
    grid-column: 2/12;
  }

  #project-header {
    grid-row: 3;
    justify-self: center;
    align-self: end;
  }
  #snowman-section {
    grid-row: 4;
  }
  #emoji-section {
    grid-row: 8;
  }
  #contact-btn {
    grid-row: 10;
  }

  #snowman-section,
  #emoji-section {
    display: flex;
    flex-direction: column;
  }

  .project-gif {
    width: 50%;
    align-self: center;
  }

  .project-gif:hover {
    transform: scale(1.25);
  }

  .project-summary {
    padding: 3%;
    background-color: var(--myBlue);
    color: white;
  }

  /* contact section */
  #contact-title {
    font-size: 24px;
  }

  #linkedin {
    order: 3;
  }

  #github {
    order: 1;
  }

  #email {
    order: 2;
  }

  #contact-msg {
    order: 4;
  }

  /* footer section */
  footer {
    text-align: center;
  }

  #footer-links {
    flex-direction: column;
    justify-content: center;
  }

  #back-to-top {
    order: -1;
    padding: 5px 0;
  }

  #copyright {
    order: 1;
    padding-top: 2px;
  }

  #graditude {
    order: 0;
  }
}

@media screen and (min-width: 620px) {
  /* universal styling ////////////////////////////////////////////////////////620px//////////////////////*/
  /* body {
    font-size: 16px;
  } */
  /* nav > ul {
    display: block;
    font-size: 24px;
  } */
/* **********  come back *************** */
  #about-rec-yellow {
    grid-column: 7/10;
    grid-row: 6/11;
    background-color: var(--myYellow);
  }

  .footer-rec-navy,
  #home-rec-navy,
  #about-summary,
  #contact-btn {
    background-color: var(--myBlue);
  }

  .icons {
    font-size: 32px;
  }

  .icon-links {
    font-size: 84px;
  }

  /* nav {
    display: block;
    grid-column: 1/5;
    grid-row: 1;
  } */

  #name {
    font-size: 64px;
    /* font-weight: bolder;
    display: flex;
    grid-column: 3/11;
    grid-row: 4;
    justify-content: center;
    align-self: end; */
  }

  #portrait {
    grid-column: 3/11;
    grid-row: 2/8;
  }

  #about-summary {
    grid-row: 6/11;
    align-self: end;
    padding: 2%;
  }

  #projects-btn {
    align-self: end;
  }

  #contact-title {
    font-size: 32px;
  }

  .btn {
    font-size: 14px;
  }

  p {
    font-size: 16px;
    text-align: center;
  }

  h3 {
    font-size: 16px;
  }

  h2 {
    font-size: 32px;
    font-weight: bold;
  }

  /* About Me Section */

  #about-title {
    grid-column: 3/6;
    grid-row: 3/6;
    justify-self: center;
  }

  #portrait {
    /*width: 100%; */ /*per AnJu's website*/
    /* width: 40vw; */
    grid-column: 3/6;
    grid-row: 4/6;
  }
/* ********************************* */
  #about-summary {
    grid-column: 7/10;
    grid-row: 4/8;
    line-height: 26px;
    text-align: center;
    z-index: 2;
  }

  #about-rec-yellow {
    grid-column: 8/11;
    grid-row: 6/11;
    background-color: var(--myYellow);
  }

  #about-summary:hover {
    transform: scale(1.25);
  }

  #about-rec-yellow:hover {
    transform: translate(50px, 50px);
  }

  #project-btn {
    grid-column: 4/5;
    grid-row: 10/11;
  }

  /* Style Projects Section */

  .project-summary {
    display: block;
    background-color: var(--myYellow);
    color: var(--myBlue);
  }

  #project-header {
    grid-column: 6/8;
    grid-row: 2/3;
  }

  #snowman-section {
    grid-column: 3/7;
    grid-row: 4/7;
  }

  #emoji-section {
    grid-column: 7/11;
    grid-row: 4/6;
  }

  #snowman-gif:hover,
  #emoji-gif:hover {
    transform: scale(1.25);
  }

  #contact-btn {
    grid-column: 6/8;
    grid-row: 10/11;
  }

  /* Style Contact Section */

  .icon-links:hover {
    color: var(--myYellow);
    text-shadow: 6px 6px 3px #003566;
  }

  #contact-title {
    grid-column: 5/9;
    grid-row: 3/4;
    justify-self: center;
  }

  #linkedin {
    grid-column: 8/9;
    grid-row: 4/6;
  }

  #github {
    grid-column: 5/6;
    grid-row: 4/6;
  }

  #email {
    grid-column: 6/8;
    grid-row: 4/6;
    justify-self: center;
  }

  #contact-msg {
    grid-column: 5/9;
    grid-row: 7/8;
    justify-self: center;
  }

  /* /style footer */
  footer {
    grid-column: 1/13;
    grid-row: 12/13;
  }

  footer > ul {
    justify-content: space-between;
    align-items: center;
  }
}

@media screen and (min-width: 1200px) {
  nav > ul {
    display: flex;
    font-size: 24px;
  }
  
  .btn {
    color: var(--myYellow);
    background-color: var(--myBlue);
  }

  #home-rec-grey {
    width: 100%; 
    height: 12vh;
    place-self: center;
    grid-row: 5/7;
    grid-column: 5/9;
  }

  #home-rec-yellow {
    background-color: var(--myYellow);
    width: 100%;
    /* height: 11vh; */
    grid-column: 4/8;
    grid-row: 6/7;
    /* position: relative; */
    z-index: 1;
  }

  #home-rec-navy {
    width: 65vh;
    height: 7vh;
    grid-column: 6/10;
    grid-row: 6;
    font-size: 24px;
    z-index: 2;
    padding: 15px;
  }

  #about-btn {
    /* height: 5vh; */
    margin-left: 40px;
    place-self: center;
    grid-column: 4/6;
    grid-row: 6;
    z-index: 2;
  }

}

@media screen and (min-width: 1400px) {
}
