#secondContainerWrap {
/* border: 3px solid red; */
display: flex;
justify-content: space-around;
color: white;
text-align: center;
}

.icon-divs {
margin-top: 35%;  
height: 160px;
width: auto;
/* position: absolute;
bottom: 2px; */
}
.mobile-icon-divs {
  visibility: hidden;
}


#secondContainer {
  background-color: black;
  width: 50%;
  height: 640px;
  text-align: center;
  align-items: center;
  /* border-style: solid; */
  /* border-color: blue; */
  color: white;
}

.paragraph-text {
  color: white;
  /* border: 2px solid white; */
}



#profile-photo-div {
  display: flex;
}

#mobile-profile-div {
  /* visibility: hidden; */
  border: 2px solid green;
  width: 1px;
  height:1px;
  align-items: flex-start;
  justify-content: flex-start;
}

#mobileProfilePhoto {
  width:2px;

}

.icon-divs {
  /* border: 3px solid white; */
  width: 10%;
  
}

#thirdContainer {
  width: 100%;
  height: 100%;
  /* border-style: solid; */
  color: black;
  background-color: #434a5c;
  text-align: center;
}

#fourthContainer {
  margin-top: 15px;
  width: 100%;
  height: 100%;
  border-style: solid;
  /* border-color: red; */
  color: black;
  background-color: black;
  text-align: center;
}

#projects-div {
  /* width: 95%; */
  /* height: 95%; */
  /* border-style: solid; */
  /* border-color: white; */
  display: flex;
  flex-wrap: wrap;
  transition: transform 0.4s;
}

.project-screenshot:hover {
  transform: scale(1.2);
}

.projects {
  width: 50%;
}
#profilePhoto {
  margin-left: auto;
  margin-right: auto;
  margin-top: 3%;
  margin-bottom: 3%;
}

.project-description-p {
  font-size: 14px;
  padding: 2px;
  margin: 2px;
}

.project-screenshot {
  position: relative;
}

.project-link:visited {
  color: blue;
}

.skills-div {
  display: inline-block;
  width: 30%;
  height: auto;
  /* border-style: solid; */
  background-color: black;
  color: white;
}

#fourthContainer > h1 {
  color: white;
}

