#navSectionContainer {
  display: grid;
  grid-gap: 3px;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: 50px;
  font-family: Georgia;
  color: black;
  text-align: center;
  
}

#navSectionContainer > div {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.5em;
    
    margin: 2px;
    background-color: rgba(255,255,255,.15);
    backdrop-filter: blur(5px);
}
body {
  /* background-color: black; */
  background-image: url("https://i.ibb.co/M6YCnc3/pexels-pixabay-531880.jpg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
}

h1 {
  color: white;
}

#navSectionContainer > div > a{
    text-decoration: none;
}

#navSectionContainer > div > a:visited {
    color:black;
}

#navSectionContainer > div > a:hover {
    color: white;
}
#navSectionContainer > div:hover {
    color: white;
}

@media (max-width: 375px){
    #mainSection {
        display: none;
    }
}