

    body{background-color:black;}
  
    #big-menu{
        visibility:hidden ;   
    
      }
    #menu-button,#name-big,#title-big,#pursuit-big{
        visibility: visible;   



        
      }
    html {
      scroll-behavior: smooth;
    }
  
  
  
   
  
  #about{
      display: grid;
      grid-template-columns:  repeat(60,1fr);
      grid-template-rows: repeat(60,1fr);
      height: 1000px;
  border: lightgreen solid 3px;
  }
  #home{
      display: grid;
      grid-template-columns:  repeat(60,1fr);
      grid-template-rows: repeat(60,1fr);
      height: 330px;
      border: solid 3px;
      padding-top: 0px;
      padding-right: 0%;
      margin-right: 0%;
      
  }
  
  #projects{
      display: flex;
      flex-direction: column;

      height: 1000px;
      border: yellow solid 3px;
align-items: center;

  }
  
  #contact{
      display: grid;
      grid-template-columns:  repeat(60,1fr);
      grid-template-rows: repeat(10,1fr);
      height: 1000px;
      border: purple solid 3px;
  
  }
  
   #hamburger-menu{
  grid-row: 1/2;
  grid-column:46/60;
  
  z-index: 0;
  margin-top: 28px;
  margin-right: 1px;
  width: 120px;
  height: 50px;
  display: none;
  } 
  #hamburger-menu :hover{
  cursor: pointer;
  
  }
  #hamOne,#hamTwo,#hamThree{
      background-color: rgb(86, 255, 92);
      height: 9px;
      width: 109px;
      border-radius: 25px;
     margin:8px;
     margin-right: 25px;
     display: none;
  }
  #drop-down{
   display:none;
      color:whitesmoke;
      grid-row: 2/12;
      grid-column: 45/60;
      font-size: 15px;
    text-align: center;
    font-family: 'Audiowide';font-size: 22px;
    display: none;
  }
  
  #drop-down2{
         color:whitesmoke;
         grid-row: 2/10;
         grid-column: 45/60;
         font-size: 25px;
       text-align: center;
       font-family: 'Audiowide';font-size: 22px;
       display: none;
     }
     #drop-down3{
      color:whitesmoke;
      grid-row: 2/12;
      grid-column: 45/60;
      font-size: 25px;
    /* text-align: center; */
    font-family: 'Audiowide';font-size: 22px;
  }
  
     #bio{
      color:rgb(191, 206, 193);
      grid-row: 17/56;
      grid-column: 4/57;
      font-size: 35px;
    text-align: center;
    font-family: 'Audiowide';font-size: 27px;
    padding-right: 10%;
    padding-left: 10%;
    overflow-x: scroll;
  }
  
  #hamburger-menu:hover{
      cursor:pointer;
  }
  
  #xb{
  background-color: rgb(124, 244, 124);
  color: black;
  border-radius:50%;
  border-style:none;
  display: none;
  }
  #xb:hover {
    cursor: pointer;
    background-color: orange;
    display:none
  }
  
  
  #home-li{
      margin-top:3px;
      display:none;
  }
  #about-li{
    display: none;
  }
  #projects-li{
    display: none;
  }
  #contact-li{
    display: none;
  }
  
 

  /* #big-home,#big-about,#big-projects,#big-contact{
    transition: width 2s;
 
  } */






  #menu-button:hover{
    cursor: pointer;
    color:greenyellow;
  }
  #big-menu{
    margin-top:29%;
    font-size: 30px;
  visibility:hidden;

  list-style: none;

  text-align: center;

  grid-row: 1/56;
  grid-column: 44/60;
  position:auto;
  z-index: 3;
 
  }
  
  #big-home,#big-about,#big-projects,#big-contact{
    border:white solid 3px;
    margin-bottom:2%;
    border-radius: 25%;
    /* margin-right:4%;  */
    background-color: black;
    transition: height 4s;
    color:white;
  
    /* width:66%; */
 
  }
#big-x{

  color: white;
  visibility: hidden;
 
}

  #big-menu:hover{
    cursor: pointer
    
  }
  #big-home{

    background-color:white;
    color:black;
    height: 44px;
    margin-top:0px;
    border:black solid 3px;
    /* padding-top:6%; */
  }
/* #big-home:hover{
    width:330px;
    background-color: lawngreen;
} */
#big-about:hover{

    background-color:white;
    color:black;
    height: 44px;
    /* padding-top: 10%; */
}
#big-projects:hover{

    background-color:white;
    color:black;
    height: 44px;
    /* padding-top: 10%; */
}
#big-contact:hover{
 
  background-color:white;
  color:black;
  height: 44px;
  /* padding-top: 10%; */
}








  #big-x{
    margin-top: 0px;
    margin-bottom:0px;
    border-radius: 50%;
    /* border:solid white 3px; */
    width: 45px;
    font-size: 12px;

    font-family: Arial, Helvetica, sans-serif;
  }
  #big-x:hover{
    cursor: pointer;
  }
  /* .menu-class{
    margin-top: 16px;
    border-radius: 25px;
    border: solid white 4px;
    font-size: 30px;
    width: 130px;
    background-color: white;
    text-align: center;
    z-index: 2;
    list-style: none;
  } */




  
  
  #pic{
      /* width: 699px; */
      grid-row: 3/52;
      grid-column: 1/61;
      text-align: center;
      position: auto;
      z-index: 3;
  
  
      
  }
  #pic2{
      grid-row: 12/52;
      grid-column: 5/52;
      text-align: center;
      
  }
    #plain-pic{
         border-radius: 50%;
         border: solid green 3px;
         grid-column: 2/52;
         height: 240px;
         grid-row: 6/45;
         /* grid-column: 19/41; */
         display: block;
        
     }
   
  
     #matrix-pic{
        border-radius: 50%;
        border: solid green 3px;
        grid-column: 2/52;
        height: 240px;
        grid-row: 6/45;
        /* grid-column: 19/41; */
        /* display: block; */
     }

     #intro{
      grid-row: 22/60;
      grid-column:14/44;
      font-size: 33px;
      text-align: center;
      font-weight: 300;
      /* border: solid white 3px; */
      /* background-color: black; */
      width: 300px;
      height: 100px;
      display: none;
  
     }
     #name1200{

 
      color: linen;
       /* font-family: 'Audiowide'; */
       font-family: 'Courier New', Courier, monospace;
      
     height: 29%;
       position: auto;
       z-index: 4;
   

     
        
      
  }
  
  
  
  
  
  
  
  #title-big{
      font-size: 30px;
      margin-bottom: 9px;
      color: linen;
      font-family: 'Audiowide';font-weight: 4px;
      grid-row: 28/31;
      grid-column: 19/60;
      
    }
    #name-big{
      grid-row: 14/56;
      grid-column: 24/60;
      color: white;
      font-size: 50px;
      /* border-left:white solid 2px;
      border-right:white solid 2px; */
      
      font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif
    } 
  #pursuit-big{


    color: white;
    font-size: 30px;
    /* border-left:white solid 2px;
    border-right:white solid 2px; */
    
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
     
  }
  
  #menu-button{
  
       color: white;
       font-size: 30px;
       /* border-left:white solid 2px;
       border-right:white solid 2px; */
       
  
       font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    
  
  }




  #title{
      font-size: 22px;
      font-family: Arial, Helvetica, sans-serif;
       margin-bottom: 4px; 
       display: none;
  }
  
  #pursuit{
      color: rgb(93, 154, 93);
      font-size: 21px;
      margin-top: 8px;
      display: none;
  }
  #title,#pursuit{
      color: rgb(73, 226, 73);
      display: none;
  }
  /* https://codepen.io/FelixRilling/pen/vNJoMy */
  
  #matrix-pic {
      text-align: center;
      color: #fff;
      font-size: 5em;
      letter-spacing: 8px;
      font-family: 'Press Start 2P';
      font-weight: 400;

      
      margin: 0;
      line-height: 0;
     
      
      animation: glitcimg 2.5s infinite;
    }
    
    
  
 button#rain{
 
  margin-left: 5%;
  
      font-family: 'DotGothic16', sans-serif;
 
      margin-top: 133px;
      text-shadow: honeydew;
      font-size: 11px;
      position: fixed;
      width:100px;
  } 
  
  
  
  
  
  
  #go-to-top{
      color: greenyellow;
      grid-row: 1/2;
      grid-column: 20/40;
  }
  
  
  /* a{
      color:orangered;
  } */
  
  a:link {
      text-decoration: none;
    }
    
    a:visited {
      text-decoration: none;
    }
    
    a:hover {
      text-decoration: underline;
   color: lawngreen;
    }
    
    a:active {
      text-decoration: underline;
    }
  
 
  
    #snow-word{
      color:greenyellow;
      font-size:38px;
      margin-top:5%;
    }
   
#snow-video{

width:600px;
position: auto;
z-index: -2;
}
/* #snow-video-cover{
width: 624px;
border:red solid 3px;
position:auto;
z-index: 3;
} */


  
  #jokes-header{
    /* grid-row: 28/60;
    grid-column: 6/60; */
    color: rgb(86, 215, 86);
    font-size: 29px;
  
  }
  
  

  

  
  #watch{
  margin-top: 66%;
  font-size: 33px;
  }
  #click-joke{
  
  
  font-size: larger;
  }
  

  
  #joke-output{
    text-align: center;
  
    color: white;
    font-size: 35px;
    width: 420px;
  }

 #navi{
  display: flex;
  justify-content: space-around;
  width: 98%;
  border-top: white solid 3px;
  border-bottom: white solid 3px;
background-color: black;
position: fixed;
color:white;

} 



#pursuit-big>a{
  text-decoration: none;
  color:white;
}
#pursuit-big>a:hover{
  text-decoration: none;
  color:lawngreen;
}
#menu-button>a{
  text-decoration: none;
  color:white;
}
#menu-button>a:hover{
  text-decoration: none;
  color:lawngreen;
}

 #title-big{
   display: none;
 }

#divTech,#industryTech,#leadershipTech{
overflow-x: scroll;
  color:whitesmoke;
  width: 340px;
  height: 70px;
 
  transition: width 2s, height 4s;
  border:solid green 3px;
   margin-left: 1%; 
   margin-right: 1%; 
  margin-bottom: 3%;
  font-size: 37px;
display: flex;
  align-items: center;  
  padding-left: 8%;

  

}
#pIn{
color: black;
visibility: hidden;
font-size: 2px;



}
#PInd{
color: black;
visibility: hidden;
font-size: 2px;

}
#lead{
color: black;
visibility: hidden;
font-size: 2px;

}
/* #pIn:hover{
  visibility: visible;
} */

#divTech:hover{
  width: 1300px;
  height: 400px;
  background-color: lightgreen;
  color:black;
}
#industryTech:hover{
  width: 1300px;
  height: 400px;
  background-color: lightgreen;
  color:black;
scroll-behavior: smooth;

}
#leadershipTech:hover{
  width: 1300px;
  height: 400px;
  background-color: lightgreen;
  color:black;
}
/* 
#learnOne{
  font-size: 20px;
} */


#grow-box{
  width: 100%;
  display: flex;
  justify-content: space-around;
}


@media only screen and (min-width: 414px) {
  body{background-color:black;
  border: solid purple 3px;
  width: 414px;
  
  }

  html{
    width: 414px;
    padding-right: 0%;
  }
#navi{
  display:flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  justify-content: center;
  width: 414px;
  align-content: flex-start;
  height: 35%;
}
#home{
  margin-right: 0%;
  border:black solid 2px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 414px;
}
#name-big{
  display: none;
}
#farrah-top{
  font-size: 44px;
  margin-bottom: 2%;
}
#f-p-top{
  margin-top: 0%;
  font-size: 24px;
}

#big-menu{
  margin-top: 700px;
  z-index:4;
}

button#rain{
  width: 58px;
  font-size: 12px;
  margin-top:3%;
  height: 35px;
}
#pursuit-big{
  margin-bottom: 1px;
  margin-top: 1px;
}

#menu-button{
  margin-top: 2%;
}

#divTech,#leadershipTech,#industryTech{
   font-size: 17px;
   padding-right: 33px;
  background-color: white;
  color: black;
display: flex;
flex-direction: column;
  text-align: center;  
  overflow-x: scroll;

 
 
 
}
/* 
#leadershipTech{
  padding-right: 70px;
} */
#divTech:hover{
  width: 5300px;
  height: 700px;
  background-color: lightgreen;
  color:black;
}
#industryTech:hover{
  width: 5300px;
  height: 700px;
  background-color: lightgreen;
  color:black;
}
#leadershipTech:hover{
  width: 5300px;
  height: 700px;
  background-color: lightgreen;
  color:black;
}
#technical{
  align-self: center;
}

#pic{
 display: flex;
 flex-direction: column;
}
#plain-pic{
  align-self: center;
}

#matrix-pic{
  align-self: center;
}

#bio{
  font-size: 22px;
}

#projects{
  display: flex;
  flex-direction: column;
 
}
#snow-pic{
  align-self: center;
  width: 380px;

}
#snow-video{
  display: flex;
  flex-direction: column;
 
  width: 414px;
}

#grow-box{
  width: 414px;
}


}
  




  