@media only screen and (max-width: 1170px) {
  body {
    background-color: orange;
  }

  #intro {
    justify-content: space-evenly;
    z-index: -1;
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 80px 400px 400px;
    margin-left: 5%;
    margin-right: 5%;
  }

  #img-div {
    /* border: 3px solid black; */
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 2;
    grid-row-end: 3;
    margin-left: auto;
    margin-right: auto;
  }

  #name-div {
    font-size: 125px;
    /* border: 3px solid black; */
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 3;
    grid-row-end: 4;
  }

  #Icons > a > img {
    height: 125px;
  }

  #projects-div {
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 400px 200px;
  }
  
  #projects-div > #snowman {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 1;
    grid-row-end: 2;
    margin: auto;
  }
  
  #projects-div > #snowman-text {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 2;
    grid-row-end: 3;
    margin: auto;
    line-height: 2;
  }
  
  #projects-div > #textAdventure {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 1;
    grid-row-end: 2;
    margin: auto;
  }
  
  #projects-div > #textAdventure-text {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 2;
    grid-row-end: 3;
    margin: auto;
    line-height: 2;
  }
  
  #projects-div > #mondrianReplica {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 1;
    grid-row-end: 2;
    margin: auto;
  }
  
  #projects-div > #mondrianReplica-text {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 2;
    grid-row-end: 3;
    margin: auto;
    line-height: 2;
  }

  body {
    justify-content: center;
  }

}