body {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(5, 1fr);
  background-image: url(https://media.giphy.com/media/I895dOTn9xeUukN4mg/source.gif);
  background-size: cover;
  height: 100vh;
  padding: 0;
  margin: 0;
}

header {
  grid-column: 1/5;
  display: flex;
}

header > span {
  flex: 1;
  border: 5px solid rgb(121, 119, 121);
  background-color: rgb(90, 180, 240);
  margin: 1% 7% 1% 7%;
  width: auto;
  height: auto;
  text-align: center;
  font-size: 130%;
  font-family: cursive;
  color: rgb(255, 255, 255);
  padding: 2%;
}

header > span > a {
  color: white;
}

#about-me-header {
  grid-column: 1/2;
}

#about-me-header > a {
  color: white;
}
#projects-header {
  grid-column: 2/3;
}

#skills-header {
  grid-column: 3/4;
}

#contact-header {
  grid-column: 4/5;
}

#about-me-section {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(3, 0.1fr 1fr 0.5fr);
  margin-top: 0;
  margin-right: auto;
  margin-left: auto;
  grid-column: 2/4;
  grid-row: 2/3;
  justify-content: center;
  justify-items: center;
  align-content: center;
  color: white;
  height: 90vh;
}

#my-name {
  font-size: 200%;
  font-style: italic;
  color: white;
  border: 5px solid rgb(121, 119, 121);
  background-color: rgb(90, 180, 240);
  padding: 10px;
}

#text-about-me {
  border: 5px solid rgb(121, 119, 121);
  background-color: rgb(90, 180, 240);
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  line-height: 120%;
  font-size: medium;
  text-align: center;
  align-self: center;
  padding: 15px;
  color: white;
}

#projects-section {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 0.01fr 0.01fr 0.01fr 1fr;
  gap: 0.5rem;
  margin-top: 0;
  margin-left:3%;
  grid-column: 1/5;
  grid-row: 2/3;
  height: 90vh;
  width: 100%;
  justify-content: center;
  justify-items: center;
  align-items: center;
  align-content: center;
}

#projects-section > span > button {
  margin-left: 5%;
  margin-bottom: 0.3%;
}

#projects-section > span {
  flex: 1;
  align-self: center;
  grid-row: 2/3;
}

#descriptionSnowman {
  font-size: medium;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  width: 60%;
  border: 5px solid rgb(121, 119, 121);
  background-color: rgb(90, 180, 240);
  padding: 1%;
  display: none;
  margin-top: 0%;
  margin-bottom: 0%;
  margin-left: 5%;
}

#descriptionAdventure {
  font-size: medium;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  width:60%;
  border: 5px solid rgb(121, 119, 121);
  background-color: rgb(90, 180, 240);
  padding: 1%;
  display: none;
  margin-top: 0%;
  margin-bottom: 0%;
  margin-left: 5%;
}

#snowman-span {
  color: white;
}

#adventure-span {
  color: white;
}

#projects-section > span > span > a {
  color: white;
  font-size: large;
  text-align: center;
}

#projects-section > span > span {
  float: right;
  margin-right: 35%;
}

.project-name {
  display: block;
  width:80%;
  font-size: xx-large;
  font-style: italic;
  text-align: center;
  margin-top: 10%;
  margin-bottom: 0%;
}

#snowman-video-section {
  position: relative;
  display: inline-block;
}
#snowman-video {
  position: relative;
  z-index: 0;
}

#click-here-snowman {
  position: absolute;
  top: 30%;
  left: 35%;
  color: #fff;
  width: 20%;
  text-align: center;
  z-index: 1;
  font-size: 30px;
  cursor: pointer;
  border: 1px solid #fff;
  padding: 5px 25px;
}

#adventure-video-section {
  position: relative;
  display: inline-block;
}
#adventure-video {
  position: relative;
  z-index: 0;
}

#click-here-adventure {
  position: absolute;
  top: 30%;
  left: 35%;
  color: #fff;
  width: 20%;
  text-align: center;
  z-index: 1;
  font-size: 30px;
  cursor: pointer;
  border: 1px solid #fff;
  padding: 5px 25px;
}

#skills-section {
  height: 80vh;
  grid-row: 2/5;
  grid-column: 1/5;
}

#skills-section > ul {
  display: flex;
  justify-content: space-around;
  width: 100%;
  flex-direction: row;
  padding: 20px;
  margin: 20px;
}

#ul-with-resume {
  display: flex;

  justify-content: space-around;
  width: 100%;
  flex-direction: row;
  padding: 20px;
}

#skills-section > ul > li > img {
  height: 180px;
}

#resume {
  color: white;
  height: 50px;
  font-size: x-large;
  font-style: italic;
  width: 100px;
  display: block;
  border: 5px solid rgb(121, 119, 121);
  background-color: rgb(90, 180, 240);
  margin-top: 20px;
  padding: 20px;
  text-align: center;
  text-justify: center;
}

#resume > a {
  color: white;
}

#skills-section > ul > li {
  list-style: none;
  border: 5px solid rgb(121, 119, 121);
  background-color: rgb(90, 180, 240);
}

#contact-section {
  display: grid;
  grid-row: 3/7;
  grid-column: 2/4;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: 10% 10% 20% 10% 10%;
  gap: 1rem;
  height: 90vh;
  justify-content: center;
  align-items: center;
}

#contact-section > span {
  grid-row: 4/5;
  grid-column: 2/4;
  display: flex;
  justify-content: center;
}

#contact-section > span > a > img {
  height: 40px;
  width: 50px;
  padding: 30px;
}

.my-style-form,
.my-style {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  grid-column: 2/4;
  grid-row: 1/4;
  align-items: center;
  height: 30vh;
  width: 24vw;
}

#your-name {
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  font-size: large;
  width: 100%;
}
#email-address {
  grid-row: 1/2;
  grid-column: 2/4;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  font-size: large;
  width: 100%;
}
#email-subject {
  grid-row: 2/3;
  grid-column: 2/4;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  font-size: large;
}

textarea {
  grid-row: 3/4;
  grid-column: 2/4;
  text-align: left;
  width: 100%;
  height: 10vh;
  font-size: large;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
}

button {
  grid-row: 4/5;
  grid-column: 2/4;
  background-color: white;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  font-size: large;
}

@media screen and (max-width: 780px) {
  body {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: repeat(5, 1fr);
    height: 100vh;
    width: 100vw;
  }

  header {
    flex-wrap: wrap;
  }
  header > span {
    flex: 1;
    font-size: 80%;
    height: 10%;
    width: 10%;
  }
  #skills-header {
    grid-column: 1/2;
    grid-row: 2/3;
  }

  #contact-header {
    grid-column: 2/3;
    grid-row: 2/3;
  }

  #about-me-section {
    display: grid;
    grid-column: 2/3;
    grid-template-columns: 1fr;
    grid-template-rows: 0.1fr 0.5fr 0.1fr;
    grid-gap: 1rem;
  }

  #my-name {
    font-size: 130%;
    width: 40vw;
    text-align: center;
  }
  #text-about-me {
    font-size: 70%;
    height: 50%;
    width: 60vw;
    grid-row: 3/4;
    margin-top: 0%;
    position: relative;
    bottom: 50%;
  }

  #my-photo {
    display: block;
    height: 70%;
    align-self: center;
    margin-left: auto;
    margin-right: auto;
  }

  #projects-section {
    display: flex;
    flex-direction: column;
    grid-row: 5/7;
    height: 50%;
    width: 80vw;
    justify-content: center;
    justify-items: center;
    align-items: center;
    align-content: center;
  }
  #projects-section > span {
    display: inline-block;
    position: relative;
    top: 110px;
    height: 90vh;
    width: 70%;
    margin-top: 20%;
    margin-right: 10%;
    margin-left: 10%;
  }
  .project-name {
    font-size: 18px;
    font-style: italic;
    text-align: center;
    margin-top: 20%;
    margin-bottom: 0%;
  }
  #projects-section > span > button {
    margin-bottom: 0.3%;
    font-size: medium;
  }
  #descriptionSnowman {
    font-size: small;
    width: 115%;
  }

  #descriptionAdventure {
    font-size: small;
    width: 115%;
  }

  #snowman-video {
    position: relative;
    z-index: 0;
    width: 500px;
  }

  #click-here-snowman {
    font-size: medium;
    left: 10%;
    padding: 0;
  }

  #adventure-video {
    position: relative;
    z-index: 0;
    width: 500px;
  }
  
#click-here-adventure {
    font-size: medium;
    left: 10%;
    padding: 0;
  }
  #skills-section {
    width: 90vw;
  }
  #skills-section > ul > li > img {
    height: 100px;
  }
  #ul-with-resume {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(4, 1fr);
    width: 80%;
    height: 80px;
    padding: 20px;
    gap: 1rem;
  }

  #resume {
    grid-row: 3/4;
    grid-column: 3/4;
  }

  #contact-section {
    display: grid;
    grid-row: 3/7;
    grid-column: 2/3;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: 10% 10% 20% 10% 10%;
    gap: 1rem;
    height: 90vh;
  }
  #contact-section > span {
    display: flex;
    align-items: center;
    justify-content: center;
  }  
}
