#home {
    background: url("https://i.postimg.cc/XNmY0kM0/raul-cacho-oses-r-Ws-H0jn-YSo-M-unsplash.jpg") no-repeat;
    background-size: cover;
    background-position: center center;
    background-attachment: fixed;
    height: 100vh;
    margin: 0;
    padding: 0;
}

#main-nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 8vh;
    color: whitesmoke;
    background: rgba(0, 0, 0, 0.4);
    position: fixed;
    top: 0;
    left: 0;
    right: 0; 
}

.nav-bar li:hover {
    font-weight: bolder;
    font-size: 20px;
    transition: .1s ease-in;
}

.nav-bar {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    font-family: 'Courier New', Courier, monospace;
    text-transform: uppercase;
    letter-spacing: 5px;
    /* background-color: crimson; */
    width: 60%;
}

.logo {
    color: white;
    font-style: italic;
    font-size: 20px;
    padding-left: 5%;
    text-transform: uppercase;
}

.burger {
    display: none;
    padding-right: 5%;
}

.burger div {
    width: 20px;
    height: 3px;
    background-color: black;
    margin: 4px;
    cursor: pointer;
    transition: all 0.3s ease;
}

@media screen and (max-width:1024px) {
    .nav-bar {
        width: 100%;
    }
}

@media screen and (max-width:768px) {
    .nav-bar {
        position: absolute;
        height: 92vh;
        top: 8vh;
        display: flex;
        flex-direction: column;
        background-color: rgba(0, 0, 0, 0.4);
        font-size: 25px;
        transform: translate(100%);
        transition: transform .4s ease-in;
    }
    .burger {
        display: block;
    }
    .nav-bar li {
        opacity: 0;
    }
}

.nav-active {
    transform: translate(0%);
} 

@keyframes navLinkFade {
    from {
        opacity: 0;
        /* tranform: translate(50px); */
    }
    to {
        opacity: 1;
        transform: translate(0px);
    }
} 

.toggle .line1 {
    transform: rotate(-45deg) translate(-4px,6px);
}
.toggle .line2 {
    opacity: 0;
}
.toggle .line3 {
    transform: rotate(45deg) translate(-4px,-6px);
}