@media screen and (min-width: 400px) {
  body {
    background: linear-gradient(
      #1ddde8,
      #2b1de8,
      #dd00f3,
      #dd00f3,
      #e81d1d,
      #ff2400,
      #e8b71d,
      #e3e81d,
      #1de840
    );
    margin: auto;
  }
}

h1 {
  color: white;
  text-align: center;
}

.container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 2rem;
}

.child {
  border-radius: 5px;
  padding: 10px;
  background-color: #f97068;
  border: 2px solid black;
}

.top-page {
  display: flex;
  justify-content: space-between;
  font-family: cursive;
  text-transform: uppercase;
  text-indent: 0%;
}
.left-side {
  font-size: 20px;
  font-family: cursive;
  text-decoration-line: underline;
  position: relative;
  align-items: left;
  justify-content: center;
}
.left-side:hover {
  color: crimson;
}
.right-side:hover {
  color: transparent;
}
:root {
    --avatar-size: 10rem;
}
.intial-logo {
  background-color: #ccc;
  border-radius: 10%;
  height: var(--avatar-size);
  text-align: left;
  width: var(--avatar-size);
}
.initials {
    font-size: calc(var(--avatar-size) / 2);
    line-height: 1;
    position: relative;
    top: auto;
    top: calc(var(--avatar-size) / 8);
}


