/* HOME PAGE */
/* body {
    background-image: url("./jessy-smith-zFOm6KzA-7g-unsplash.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center bottom;
    background-color: #e7e0e4;
    display: flex;
    justify-content: flex-start;
    height: 100vh;
    width: 50vw;
    border: 2px solid black;
    margin-top: 0;
  } */

  img {
      /* height: 100vh; */
      width: 100vw;
  }