.container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
  align-items: center;
  justify-content: center;
}
body {
  background-color: black;
}
img {
  display: flex;
  justify-content: space-evenly;
  position: relative;
  height: 400px;
  width: auto;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

button {
  display: flex;
  justify-content: space-evenly;
}

#will-you-sleep-description {
  display: none;
  font-size: 1.25vw;
  padding-top: 30px;
}

#snowman-description {
  display: none;
  font-size: 1.25vw;
  padding-top: 30px;
}

p {
  text-align: center;
  text-decoration: solid;
  color: white;
  text-transform: capitalize;
  text-shadow: 2px 2px 5px whitesmoke;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1.25vw;
}

.containers {
  display: flex;
  justify-content: space-evenly;
}

/* Navbar */
.nav-bar {
  display: flex;
  justify-content: space-between;
  padding: 40px;
}
.nav-link {
  height: 40px;
  border-bottom: 2px;
  transition: border-bottom 0.5s;
}
.nav-link a {
  color: #e88d67;
  text-decoration: none;
  transition: color 0.5s;
}
.nav-link:hover {
  border-bottom: 2px solid #ffd972;
}
.nav-link a:hover {
  color: #e88d67;
}
.nav-bar > .left-side > div {
  display: flex;
  font-size: 1em;
  margin-right: 40px;
}
.left-side {
  display: flex;
}

@media only screen and (max-width: 480px) {
  /* For mobile phones: */
  .container,
  .containers,
  .nav-bar,
  .left-side,
  .animation,
  .content {
    width: auto;
  }
  #snowman-description {
    display: none;
    font-size: 2vw;
  }
  #will-you-sleep-description {
    display: none;
    font-size: 1.25vw;
  }
}
