.container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  /* gap: ; */
}
img {
  position: relative;
  height: 300px;
  width: 100%;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;

}
