.container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
  align-items: center;
  padding-top: 80px;
  justify-content: center;
  gap: 2em;
}
img {
  position: relative;
  height: 200px;
  width: auto;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}
body {
  background-color: #F9E784;
}



/* @media only screen and (max-width:400px) {
  /* For mobile phones: */
  /* body, .container {
    width:100%;
  }
  img {


  }
 
} */ 