h1 {
    font-size: 20px;
    font-weight: bold;
}
label {
    font-size: 14px;
}
.container {
    display: grid;
    gap: .1rem;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(auto, 1fr);
}
.sub-container {
    height: auto;
}
.sub1 {
    grid-column: 1/2;
    grid-row: 1/2;
}
.sub2 {
    grid-column: 2/3;
    grid-row: 1/2;
}
.sub3 {
    grid-column: 1/3;
    grid-row: 2/3;
}
.sub4 {
    grid-column: 1/3;
    grid-row: 3/4;
}

#menu-icon {
    padding: 10px;
    height: 50px;
    width: 50px;
}
#main-nav {
    overflow: visible;
    position: relative;
}
#main-nav #navLinks {
    display: none;
}
#main-nav ul {
    width: 120px;
    z-index: 1;
}
#main-nav li {
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
    display: block;
}
#main-nav li.icon {
    background: black;
    display: block;
    position: absolute;
    right: 0;
    top: 0;
}
.github {
    text-align: center;
}
.project-header {
    display: grid;
    gap: .1rem;
    grid-template-columns: repeat(2, 1fr);
}
.project-image {
    height: 150px;
}
.profile-image-container{
    height: 300px;
    width: 300px;
    margin: auto;
}
#about-me {
    padding: 10px;
    margin: 25px;
}
.project-descrip{
    padding: 25px;
}
#about-me-title,
#resume-title,
#logo,
#project-title,
#contact-title{
    text-align: center;
}
#form-container{
    padding: 20px;
    text-align: center;
}
input[type="password"],
input[type="email"],
input[type="text"],
input[type="textarea"],
textarea{
  border: 1px solid black;
  text-align: left;
}
#resume-container {
    width: fit-content;
    margin: auto;
}
#resume-pdf {
    width: 100%;
    height: 500px;
    border: 1px solid #ccc;
    display: block;
    padding: 0;
}
#resume-pdf html body {
    background: chartreuse;
}

@media screen and (orientation: landscape) {
    .image-container {
        width: 500px;
        min-height: 300px;
        margin: auto;
        padding: 10px;
    }
    .project-image {
        height: auto;
    }
    #comment {
        height: 4em;
        width: 30em;
    }
}