:root {
	--mainColor: #1f7a8c;

	--light: #b2b2b2;
	--subtleAccent: #e5e5e7;
	--boldAccent: #82ef68;
	--purpleAccent: #6e088e;
	--darkAccent: #1f095a;

	--linkColor: #73869b;
	--borderColor: #c1c1c1;
}

/* remove all default styles */
*,
*::before,
*::after {
	margin: 0px;
	padding: 0px;
	box-sizing: border-box;
}

body {
	font-weight: 400;
	font-size: 1.3rem;
	line-height: 1.6;
	background: linear-gradient(
		to right top,
		var(--linkColor),
		rgb(85, 153, 175)
	);
}

.shadow {
	box-shadow: 0 3px 10px rgba(0, 0, 0, 0.3);
}

/* Images */
img {
	margin-top: 3rem;
	border-radius: 10px;
	/* shrinks the image if the screen becomes smaller than the image size. */
	max-width: 100%;
	min-width: 200px;
}

/* Links */
a {
	text-decoration: none;
	color: var(--darkAccent);
	border: none;
}

a:hover {
	color: var(--subtleAccent);
}

/* a:visited {
	 color: var(--mainColor);
	color: var(--darkAccent);
} */

/* Buttons */
button {
	border: 2px solid #6e088e;
	color: var(--mainColor);
	border-radius: 3px;
	padding: 20px;
	width: 298px;
	font-weight: 400;
	margin: 10px;
	border-radius: 8px;
	opacity: 0.5;
}

button:hover {
	background-color: var(--boldAccent);
	opacity: 1;
}

button a {
	font-size: 1.2em;
	letter-spacing: 0.1em;
}

button a:hover {
	color: var(--mainColor);
}

hr {
	border: 5px solid #1f7a8c;
}

section {
	height: 100vh;
	justify-content: center;
	align-items: center;
}

section h2 {
	font-size: 1.4em;
	color: var(--mainColor);
	letter-spacing: 0.1em;
	margin-bottom: 30px;
	border-bottom: 3px solid var(--subtleAccent);
}

.container {
	/* left and right ONLY ==> same as  margin: 0 auto;*/
	margin-inline: auto;
	/* min-width and max-width ==> stops growing at large screens*/
	width: min(90%, 70.5rem);
	/* height: 90vh; */
}

/* G L A S S EFFECT */
.glass {
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: #fff;
	/* width: 90vw; */
	/* height: 100vh; */
	background: linear-gradient(
		to right bottom,
		rgba(255, 255, 255, 0.7),
		rgba(223, 221, 221, 0.2)
	);
	border-radius: 1.5rem;
	z-index: 3;
	backdrop-filter: blur(1rem);
	box-shadow: inset 0 0 10px #a5a2a2;
}

.circle1,
.circle2 {
	background-color: #fff;
	background: linear-gradient(
		to right bottom,
		rgba(255, 255, 255, 0.8),
		rgba(255, 255, 255, 0.3)
	);
	height: 10rem;
	width: 10rem;
	position: absolute;
	border-radius: 50%;
}

.circle3 {
	background-color: var(--linkColor);
	background: linear-gradient(
		to left top,
		rgba(255, 255, 255, 0.8),
		rgba(255, 255, 255, 0.3)
	);
	height: 7rem;
	width: 7rem;
	position: absolute;
	border-radius: 50%;
}

.circle1 {
	top: 25%;
	right: 10%;
}

.circle2 {
	bottom: 1%;
	left: 40%;
}

.circle3 {
	bottom: 7%;
	right: 10%;
}

.fun-text {
	font-weight: bold;
	background: linear-gradient(45deg, var(--darkAccent), var(--purpleAccent));
	background-clip: text;
	color: transparent;
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
}

/* ********** END GLOBAL STYLES ******************* */
/*    HEADER   */
header {
	background-color: var(--mainColor);
	position: sticky;
	top: 0vh;
	height: 5vh;
	max-width: 100vw;
	font-size: 1.5rem;
	color: var(--subtleAccent);
	display: flex;
	justify-content: flex-end;
	align-items: center;
	z-index: 99;
}

/* BURGER icon */
.fa-bars:before {
	content: "\f0c9";
	margin-right: 2rem;
	color: var(--darkAccent);
	cursor: pointer;
}

.fa-bars:hover::before {
	color: var(--subtleAccent);
}

/* NAVBAR */
nav {
	display: flex;
	justify-content: space-between;
	align-items: center;
	width: 60vw;
	margin-right: 80px;
}

.nav-links {
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: space-evenly;
}

header a {
	text-decoration: none;
	color: var(--subtleAccent);
}

#menu {
	color: lightgrey;
	font-size: 2.2rem;
}

/* hover effects  */
header a:hover {
	border-bottom: 5px solid var(--darkAccent);
	transition: all 0.3s ease-in-out;
}

@media (max-width: 375px) {
	nav {
		display: none;
	}
	#mySidenav {
		margin-right: 20px;
		display: block;
	}
}

#mySidenav {
	margin-top: 8vh;
	display: none;
}

/* SLIDE IN MENU */
.sidenav {
	height: 100vh;
	position: fixed;
	z-index: 1;
	top: 0;
	right: 0;
	background-color: var(--subtleAccent);
	overflow-x: hidden;
	transition: 0.5s;
}

/* The navigation menu links */
.sidenav a {
	padding: 20px 50px;
	text-decoration: none;
	font-size: 0.9em;
	color: var(--darkAccent);
	display: block;
	transition: 0.3s;
	border-bottom: 1px solid var(--linkColor);
}

.sidenav a:hover {
	background-color: var(--light);
}

@media screen and (max-height: 450px) {
	.sidenav {
		padding-top: 15px;
	}
	.sidenav a {
		font-size: 18px;
	}
}

/* ***************************** */
/* H O M E */
#home {
	text-align: center;
	min-height: 100vh;
	background: linear-gradient(
		to right top,
		var(--linkColor),
		rgb(85, 153, 175)
	);
	display: flex;
	align-items: center;
	justify-content: center;
}

#home img {
	margin-bottom: 15px;
	min-width: 300px;
}

#home p {
	font-size: 1em;
	padding: 5px;
	margin-bottom: 5px;
	opacity: 0;
	transform: translateY(3rem);
	animation: fadeIn 2s ease 1s forwards;
}
/* fade in quote */
@keyframes fadeIn {
	to {
		opacity: 1;
		transform: translateY(0);
	}
}

#home h2 {
	border: none;
	position: relative;
	padding: 10px 0;
}

/* animated line  */
#home h2::before,
#home h2::after {
	content: "";
	width: 100%;
	height: 5px;
	display: inline-block;
	position: absolute;
	opacity: 0.5;
}

h2::before {
	top: -2px;
	left: -2px;
	background: transparent;
	border: 3px solid #fff;
	animation: animate 2s linear forwards;
}

h2::after {
	top: -2px;
	left: -2px;
	background: transparent;
	border: 3px solid #fff;
	/* animation: animate 1s linear forwards; */
	transform-origin: left;
	transform: scaleX(0);
}

@keyframes animate {
	0% {
		width: 0;
		height: 0;
		border-top-color: #fff;
		border-right-color: transparent;
		border-bottom-color: transparent;
		border-left-color: transparent;
	}
	50% {
		width: 100%;
		height: 0;
		border-top-color: #fff;
		border-right-color: transparent;
		border-bottom-color: transparent;
		border-left-color: transparent;
	}
	100% {
		width: 100%;
		height: 100%;
		border-top-color: #fff;
		border-right-color: transparent;
		border-bottom-color: #fff;
		border-left-color: transparent;
	}
}

#home .right p,
h2 {
	margin: 4rem 0;
}

#skills h2 {
	margin: 1.2rem;
}

/* ***************************** */
/* S K I L L S */
#skills {
	min-height: 100vh;
	background: linear-gradient(
		to right top,
		var(--linkColor),
		rgb(85, 153, 175)
	);
	display: flex;
	align-items: center;
	justify-content: center;
}

ul {
	list-style: none;
}

#skills p,
#skills li {
	color: var(--darkAccent);
	margin: 0.5rem;
	opacity: 0.7;
}

.card-container {
	background: linear-gradient(
		to right top,
		var(--linkColor),
		rgba(85, 153, 175, 0.5)
	);
	border-radius: 1.5rem;
}

.card-container .card {
	height: fit-content;
}

/* CARD */
.card {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	background: linear-gradient(
		to left top,
		rgba(255, 255, 255, 0.8),
		rgba(255, 255, 255, 0.3)
	);
	border-radius: 1rem;
	margin: 2rem 0;
	padding: 2rem;
	box-shadow: 6px 6px 20px rgba(122, 122, 122, 0.7);
	height: 70vh;
}

.card h3 {
	text-transform: uppercase;
	letter-spacing: 0.1em;
	border-bottom: 3px solid var(--subtleAccent);
	margin-bottom: 1rem;
	color: #658ec6;
	opacity: 0.7;
}

/* ***************************** */
/* P R O J E C T S */
.bg-light {
	background: linear-gradient(
		to right top,
		var(--linkColor),
		rgb(85, 153, 175)
	);
}

.bg-dark {
	background-color: var(--mainColor);
	color: var(--subtleAccent);
}

.bg-light h3,
.bg-dark h3 {
	text-transform: uppercase;
}

/* gitHub icon */

.proj-git-link {
	display: flex;
	justify-content: space-evenly;
	align-items: baseline;
	margin-top: 1.5rem;
}

.proj-git-link i {
	font-size: 2rem;
	margin-top: 1rem;
}

.proj-git-link i:hover {
	background: linear-gradient(180deg, var(--purpleAccent), var(--subtleAccent));

	background-clip: text;
	color: transparent;
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
}

video {
	margin: 0 auto;
	border: 10px inset #ddd;
}

/* ***************************** */
/* A B O U T  */
#about,
#skills,
#home {
	height: fit-content;
}

#about-img {
	height: 350px;
	max-width: 100%;
	min-width: 250px;
}

/* ***************************** */
/* F O R M */
#contact-form {
	padding: 15px;
	border-radius: 15px;
	background-color: rgba(178, 178, 178, 0.3);
	margin: 50px 0;
	width: 100%;
	color: var(--subtleAccent);
	box-shadow: 0 3px 10px rgba(0, 0, 0, 0.5);
	letter-spacing: 0.1em;
}

#contact h2,
#about h2,
#projects h2 {
	color: var(--subtleAccent);
	font-size: 2.5rem;
	opacity: 0.7;
}

input {
	width: 100%;
	padding: 12px 20px;
	margin: 8px 0;
	outline: none;
	border: none;
	border-bottom: 2px solid var(--mainColor);
	border-radius: 4px;
	color: var(--darkAccent);
	opacity: 0.6;
	font-size: 1em;
}

input[type="text"]:focus {
	border: 3px solid var(--mainColor);
}

input[type="submit"] {
	background-color: var(--mainColor);
	border: 1px solid #fff;
	border-radius: 4px;
	color: white;
	padding: 16px 32px;
	text-decoration: none;
	margin: 4px 2px;
	cursor: pointer;
	font-size: 1.3rem;
	letter-spacing: 0.1em;
	opacity: 0.7;
}

input[type="submit"]:hover {
	color: var(--darkAccent);
	background-color: var(--subtleAccent);
	border: 3px solid var(--mainColor);
	opacity: 0.7;
}

textarea {
	width: 100%;
	height: 100px;
	padding: 12px 20px;
	box-sizing: border-box;
	outline: none;
	border: none;
	resize: none;
	border-bottom: 2px solid var(--mainColor);
	border-radius: 4px;
	opacity: 0.6;
}

.text-center {
	text-align: center;
}

/* ***************************** */
/* FOOTER */
footer {
	background-color: var(--mainColor);
	color: var(--subtleAccent);
	display: flex;
	justify-content: center;
	align-items: center;
	opacity: 0.7;
}

/* ***************************** */
/* RESPONISEVE FOR LARGE SCREENS  */
/* 1 col to 2 cols */
.split {
	display: flex;
	flex-direction: column;
	padding: 20px;
}

@media (min-width: 50em) {
	.split {
		flex-direction: row;
	}

	/* all the children have equal spacing */
	.split > * {
		flex-basis: 100%;
	}

	/* any element with a sibling BEFORE it */
	.split > * + * {
		margin-left: 2em;
	}

	section,
	header {
		padding: 2rem 0;
	}

	#about,
	#skills,
	#home {
		margin: 4rem 0;
	}
}

/* ***************************** */
