/* html{
  background: linear-gradient(to right, rgb(91, 114, 136), rgb(0, 43, 82));
  /* background-repeat: no-repeat; */
/* } */ 


body {
  background: linear-gradient(to right, rgb(91, 114, 136), rgb(0, 43, 82));
  min-width: 200px;
  position: relative;
  color:white;
  font-family: "Times New Roman", Times, serif;
  letter-spacing: 1px;
  line-height: 1.5;
}
nav {
  font-size: 25px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-evenly;
  font-family: "Times New Roman", Times, serif;
  margin-top: 20px;
  border-bottom: solid black;
}
nav a {
  color: white;
  text-decoration: none;
  font-weight: bold;
}
.Aboutme-heading {
  display: flex;
  flex-wrap: wrap;
  gap: 50px;
  align-content: center;
  justify-content: center;
  font-size: 40px;
  margin-top: 50px;
}
#MyPhoto {
 height: 200px;
 transition:1.5s;
}
#MyPhoto:hover{
  transform: scale(1.5);
}
#AboutMe p {
  padding: 30px;
  margin: 20px 100px 20px 100px;
  font-size: 18px;
  align-items: center;
  overflow-wrap: break-word;
}
.skills-heading {
  padding: 30px;
}
.Skills-Container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  margin: 20px 70px 20px 70px;
}
.Skills-Container img {
  border-radius: 10px;
  padding: 30px;
  height: 100px;
  width: 150px;
  display: flex;
  flex-direction: rows;
  align-items: center;
  justify-content: space-evenly;
}
div {
  margin: 20px 30px 20px 30px;
  font-size: 20px;
}
.Parent-div-for-contact-section {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 50px;
}
.Contact-Info {
  border: transparent;
  background-color: rgb(2, 19, 44);
  height: 400px;
  width: 450px;
}
.Contact-Info h1 {
  text-align: center;
}
.Contact-Info p {
  font-size: 20px;
  text-align: center;
}
.Contact-Info p a {
  font-size: 20px;
  text-decoration: none;
  font-weight: bold;
  color:white;
}
.Contact-Info p a:hover {
  color: purple;
}
.all {
  padding: 50px;
}
#Images-container {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  display: grid;
}
#Images-container img {
  width: 300px;
  transition: transform 1.5s;
  margin-top: 20px;
}

#Images-container img:hover {
  transform: scale(2);
}
#Image {
  font-size: 20px;
  font-weight: bold;
  text-align: center;
}
#text-adventure {
  font-size: 18px;
}
#Snowman-text {
  font-size: 18px;
}





/* to dark mode */
.dark-mode {
  background-image: linear-gradient(to right, rgb(183, 230, 241), rgb(105, 174, 238));
  color: black;
}
.dark-mode a{
color: black;
}
.dark-mode .Contact-Info p a{
  color: black;
}
.dark-mode .Contact-Info p a:hover{
  color: blueviolet;
}

.dark-mode .Contact-Info {
  border: transparent;
  background-color: rgb(178, 206, 206);
}