
* {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
body{
  margin: 0%;
  padding: 0%;
  background-color: #123c69;
  color: #eae7dc;
}

nav{
  background:  #eae7dc;
  width: 100vw;
  top:0;
  position: fixed;
  color: black;
}

.desktop-nav{
  display: none;
}

.desktop-header{
  display: none;
}
.navigation-links-1{
  text-decoration:none;
  padding: 8px;
  font-size: 20px;

}
.navigation-links-1 a, a:visited{
  color:black;
}


.mobile-nav{
  display: flex;
  flex-direction: column;
  justify-self: space-around;
  align-items: flex-end;
  list-style-type: none;
  padding-right: 20px;
}

.menu{
  display: none;
}

.menu-btn{
  display: block;
}

header{
  width: 100%;
  min-height: 75vh;
}

.mobile-header{
  padding: 5%;
  text-align:  center;
  position: relative;
  width: 50%;

}

.malcolm{
  opacity: 1;
  display: block;
  width: 100%;
  height: auto;
  transition: .5s ease;
  backface-visibility: hidden;
}

.middle{
  transition: .5s ease;
  opacity: 0;
  position: absolute;
  top:45%;
  left:25%;
}

.mobile-header:hover,  .mobile-header:active .malcolm{
  opacity: .3;
}

.mobile-header:hover, .mobile-header:active .middle{
 opacity: 1;
}

.just-seeds-button {
  width: 500px;
  top: 18px;
  text-align: center;
  opacity: 0;
  transition: opacity .35s ease;
  display: flex;
  align-items: flex-start;
}

.just-seeds-button a {
  width: 50px;
  padding: 12px 48px;
  margin-left: 5px ;
  text-align: center;
  text-decoration: none;
  color: white;
  border: solid 2px white;
  background-color: #022140;
  
}

.mobile-header:hover, .mobile-header:active  .just-seeds-button {
  opacity: 1;
}

.text{
  background-color: #644e58;
  color: white;
  font-size: 16px;
  text-align: center;
  width: 35%;
  margin-left: 5px;
}



#poonam_image{
  width: 100%;
  min-height: 50%;
}

#dark-mode{
  width:50%;
  margin-left: 25%;
}

.darkMode{
  background-color: #eae7dc;
  color:  #123c69;
}

.flex-container1{
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.flex-containerdesk{
  display: none;
}

.flex-container1 > p{
  text-align: center;
}

#summary{
  margin-left: 5%;
}

#summary2{
  margin-top:0%;
  margin-bottom: 5%;
  margin-right: 5%;
}

.headingOfSection{
  text-align: center;
    font-size: 30px;
}

h2{
  text-align: center;
  font-size: 20px;
}

#project-image1{
  width: 100%;
}

#project-image2{
  width:100%;
}

.two-p{
  margin-right: 5%;
  text-align: center;

}

.project-links{
  margin-left: 36%;
  text-decoration: none;
  background-color: white;
}

.faq-ul{
  list-style-type: none;
  margin-right: 15%;
}

#meme-image{
  width: 100%;
  display: none;
}

.fa-linkedin {
  background: #007bb5;
  color: white;
  width: 25%;
  margin-left:40%
}

.connect-icons{
  background-color: #eae7dc;
  font-size: 45px;
 
}
.connect-icons a:link{
text-decoration: none;
display: flex;
justify-content: center;
}

#noBorders{
  width:100%;
}

/* for desktop */
@media (min-width: 768px){
  /* .body{
    display: grid;
    grid-template-columns: repeat(4, 1fr) ;
    grid-template-rows: repeat(6, 1fr)
} */

.mobile-nav{
  display: none;
}

.mobile-header{
  display: none;
}

#h1Home{
  display: none;
}
.navigation-links{
  padding: 20px;
  font-size: 20px;
  color:black;
  list-style-type: none;
}

.navigation-links:hover {
      background-color: white;
      color:black;
     }

.mobile-links{
  display: none;
}
.desktop-nav{
  display:flex;
  list-style-type: none;
  justify-content: flex-end;

}

.menu-btn{
  display: none;
}


.headingOfSection{
  text-align: center;
  font-weight: 400 bold;
  font-size: 35px;
  
}
#homeSection{
  display: flex;
  text-align: center;
  padding-top: 50px;
  padding-bottom: 50px;
  height: 600px;
  font-size: 20px;
  margin-left:30px;
}

.flex-containerdesk{
  display: flex;
  justify-content: space-around;
  align-items: center;

}

#poonam_image{
  max-width: 40%;
  height:auto;
  order:0;
  padding:40px;
}

.flex-container1{
  display: none;
}

#faqSection{
  padding-top: 50px;
  height:700px;
  width:100%;
  font-size: 20px;
}

#meme-image{
  width: 50%;
  display: none;
}

#projectSection{
  padding-top: 50px;
  height: 700px;
  text-align: center;  
}
#flex-container2{
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 20px;
}

#flex-container2a{
  border: 5px solid black;
  margin-right: 2%;
  margin-left: 2%;
  padding: 20px;
}

#flex-container2b{
  border: 5px solid black;
  margin-right: 2%;
  padding: 20px;
}


.project-links{
  font-size: 20px;
  color:black;
  margin-right: 40%;
}

.project-links:hover{
  background-color: white;
  color: black;
}

#project-image1{
  max-width: 75%;
  height: auto;
}

#project-image2{
  max-width: 55%;
  height: auto;
}
header {
  padding-top: 50px;
  padding-left: 20%;
  padding-right: 20%;
  text-align: center;

 }

 #topBtn {
  display: none;
  position: fixed;
  bottom: 20px;
  right: 30px;
  z-index: 99;
  border: none;
  outline: none;
  background-color: #404f49;
  color: #ede1de;
  cursor: pointer;
  padding: 15px;
  border-radius: 10px;
  font-size: 18px;
}

#topBtn:hover {
  background-color: #849a91;
}

#text{
  width: 250px;
  height: 60px;
}

footer >img{
  width:100%;
}
}
