body {
  margin: 1px;
  padding: 5px 40px 5px 30px;
  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: max-content;
  background: #234E70;
  /* color: #2afeb7; */
  color: white;
}

.navigator {
  /* margin: 10px; */
  padding: 2px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  width: 100%;
  min-height: 60px;
  color: bisque;
  z-index: 1;
  /* border: 1px solid black; */
  box-shadow:
  0 15.2px 12px rgba(0, 0, 0, 0.07),
  0 121px 96px rgba(0, 0, 0, 0.035)
 ;
 

}

#icon{
    width: 52px;
    height: 52px;
    margin-left: 10px;
}
#menu{
  text-align: center;
  margin-right: 10px;
  color:#2afeb7;
  width: 42px;
  height: 42px;
}

#menu:hover {
    transform: scale(0.8, 0.8);
    filter: blur(2px);
    transform: rotate(270deg);
}
#hi{
    font-size: 24px;
    color:#2afeb7;
}
h1{
    font-size: 48px;
    color: white;
}
h2{
    font-size:36px;
    color: #dae1e7af;

}

#description{
    font-size: 24px;
    color: #99a7b4af;
    text-align: justify;
}
#rolling-menu {
  border: solid black 2px;
}

.center-div {
  margin-top: 60px;
  margin-bottom: 60px;
  padding: 10px;
}

#contact-me {
  display: flex;
  padding:20px;
  font-size: 20px;
  color:#2afeb7 ;
  border: solid 1px #2afeb7;
  background-color: #234E70;
  border-radius: 10px;
  margin-top: 50px;
  min-width: 160px;
  min-height: 60px;
  
}

#contact-me:hover{
    background-color: #2afeb721;
    /* opacity: 0.05;
    filter: alpha(opacity=20);
     */

}

.projects-div {
  display: grid;
  grid-template-columns: 50% 50%;
  grid-template-rows: 160px 400px 60px;
  margin-top: 60px;
  margin-bottom: 60px;
  padding:15px;
  gap: 20px;
}
#snowmanForm{
  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: 60% 40%;
}

#traderForm{
  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: 60% 40%;
}
.proTitle{
  text-align: center;
  font-size: 42px;
}

.gameText{
  display: flex;
  justify-self: center;
  text-align: center;
  font-size: 22px;
}
.gameText:hover{
  transform: scale(1.2)
}
#snowman{
  display:grid;
  grid-area: 2 / 1 / 3 / 2;
  width: 100%;
  height: 100%;
  align-self: auto;
  border: solid 2px #2afeb7;

  position: relative;
  vertical-align: middle;
}


#trader{
  display:grid;
  grid-area: 2 / 2 / 3 / 3;
  width: 100%;
  height:100%;
  border: solid 2px #2afeb7;

}

.live{
  display: grid;
  grid-template-columns: 50% 50%;
  grid-template-rows: 60px;
}

.gitlive{
  background-color: rgba(127, 211, 214, 0.719);
  color:cornsilk;
  font-size: 18px;
  
  text-align: center;
}

#skills {
  margin-top: 60px;
  margin-bottom: 60px;
}

#skills-menu {
  display: flex;
  justify-content: space-between;
  text-align: center;
}
#rolling-menu {
  width: 100%;
  min-height: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: space-around;
  margin: 5px;
  padding: 5px;
  border:none;
}

.horizontal {
  display: flex;
  align-self: center;
    border-radius: 100% ;
    
    background-color:#41d3a2a4;
    border: solid 4px  #2afeb7b2;

    width: 64px;
    height: 64px;

 
}


.horizontal:hover {
  filter: blur(2px);
}

.icon {
  margin: 20px;
  width: 96px;
  height: 96px;
  text-align: center;
}
.icon:hover {
  transform: scale(1.4);
}

#footer {
  margin: 10px;
  padding: 5px;
  text-align: center;
}
.footer-elem {
  margin-left: 10px;
  margin-right: 10px;
  width: 48px;
  height: 48px;

  transform: perspective(750px) translate3d(0px, 0px, -250px) rotateX(27deg)
    scale(0.9, 0.9);
  border-radius: 20px;
  /* border: 5px solid #e6e6e6; */
  border: 5px solid #2afeb7;
  box-shadow: 0 70px 40px -20px rgba(0, 0, 0, 0.2);
  transition: 0.4s ease-in-out transform;
}

.footer-elem:hover {
  transform: translate3d(0px, 0px, -250px);
}
