body{
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    padding: 0;
    margin: 0;
}

#homepage{
    background-image: url(https://media.allure.com/photos/5e46c3995993fc0009700fc4/16:9/w_2560%2Cc_limit/clouds.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    padding-top: 25px;
    padding-bottom: 25px;
}

h1{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 50%;
    margin-bottom: 50%;
    color: rgb(82, 82, 82);
    font-size: 20px;
}

.nav{
    display: flex;
    float: right;
    list-style-type: none;
}

.nav a{
    color: rgb(82, 82, 82);
    font-size: 14px;
    text-decoration: none;
    font-weight: bold;
    padding-right: 20px;
}

.nav a:visited{
    color: rgb(82, 82, 82);
}

.nav a:hover, .projects a:hover{
    color: #2c5e56;
}

.about{
    text-align: center;
    background-color: #d88383;
    padding-top: 25px;
    padding-bottom: 25px;
}

.projects{
    background-color: #47AB98;
    font: bold;
    color: rgb(82, 82, 82);
    padding-top: 25px;
    padding-bottom: 25px;
}

.project1, .project2, .info{
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
}

.description1, .description2, .info p{
    text-align: center;
    padding: 20px;
}

.project1 img, .project2 img, .info img{
    display: flex;
    max-width: 100%;
    height: auto;
    margin: auto;
    padding-top: 25px;
    padding-bottom: 25px;
    margin-left: auto;
    margin-right: auto;
}

#projectsHeading, #contactHeading, #aboutHeading{
    text-align: center;
    color: rgb(82, 82, 82);
    padding-top: 25px;
    margin-top: 0;
    font-size: 20px;
}

.projects a{
    color: rgb(82, 82, 82);
    text-decoration: none;
    font-weight: bold;
}

.contact{
    background-image: url(assets/IMG_1846.JPG);
    background-size: cover;
    background-position: center;
    padding-top: 25px;
    padding-bottom: 25px;
}

.contactInfo{
    display: grid;
    grid-template-columns: 1fr;
    justify-items: center;
    font-weight: bold;
    margin-bottom: 50%;
    color: rgb(82, 82, 82)
}

.contactInfo ul{
    padding: 0%;
}

.contactInfo li{
    padding-right: 20px;
    padding-left: 20px;
}

ul{
    display: flex;
    align-items: center;
    list-style-type: none;
}

li img{
    height: 50px;
}

footer{
    text-align: center;
    color: rgb(82, 82, 82);
    background-color: #CBA6C6;
    padding-top: 25px;
    padding-bottom: 25px;
}

p{
    font-size: 16px;
    color: rgb(82, 82, 82);
    line-height: 2;
}


.skills{
    background-image: url(assets/27C9C10D-E74D-410D-A9A9-8730AACD9026.jpeg);
    background-size: cover;
    background-position: center;
    filter: brightness(.5) saturate(.8);
    align-items: center;
    padding-top: 25px;
    padding-bottom: 50%;
}

#skillsHeading{
    color: white;
    text-align: center;
}

@media (max-width: 800px) {
   .nav{
    display: none;
   }

   .contactInfo{
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
   }

   .project1, .project2{
    display: flex;
    flex-direction: column;
    text-align: center;
    padding-left: 25px;
    padding-right: 25px;
   }

   .info{
    display: flex;
    flex-direction: column;
   }

   .info img{
    height: 350px;
    width: auto;
   }


}