body{
    background-color: rgba(255, 0, 0, 0.886);
    
}
h1{
    font-family: 'Engravers Old English';
    color: blue;
    text-align: center;
    font-size: 30px;
}

.home {
    display: flex;
    border: 6px solid green;
    text-shadow: 0 0 5px black;
    color: aliceblue;
    flex-direction: row;
    padding: 5px;
    height: 35px;
    transition: all 3.0s;
    justify-content: space-evenly;
    align-items: center;
    background-color: rgba(0, 255, 255, 0.503);
}

button{
    font-style: oblique;
    font-size: 50%;
     transform: scale(1.5) ; 
     transition: all 1.5s;
     /* border: 1px solid black; */
     opacity: 1;
     border-radius: 70%;
}
.container{
    display: grid;
    grid-template-columns: repeat(10, 1fr);
    grid-auto-rows: minmax(100px, auto);
}
.one{
    grid-column:1 / 3 ;
    grid-row: 1/2;
}
.two{
    grid-column:1 / 3 ;
    grid-row: 2/2;
}
p{
    grid-column:5/ 11 ;
    grid-row: 1/ 7;
}

.img{
    display: grid;
    grid-column:1/ 4 ;
    grid-row: 1 / 3;
    margin-top: 15px;
    margin-left: 25px;
    border-radius: 45%;
    border: 3px solid black;
    width: 100%;

}

@media screen and(max-width:800px){
    button{
        width: 100%;
    }
   
}
