body{
    background-color: red ;
    
}
h1{
    font-family: 'Engravers Old English';
    color: blue;
    text-align: center;
    font-size: 30px;
}
div {
    text-align: center;
    color: black;
    font-style: normal black;
}
